In [ ]:
# PRIMERO CODIGO SQL DE IMPORTACION DE TABLAS - Me dan error las tablas:

FILMS - Primera fila nulos, resto vacio
INVENTORY - Primera fila nulos, resto vacio
OLD_HDD - VACIA

In [ ]:
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema archivos_videoclub
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema archivos_videoclub
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `archivos_videoclub` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `archivos_videoclub` ;

-- -----------------------------------------------------
-- Table `archivos_videoclub`.`ACTORES`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `archivos_videoclub`.`ACTORES` (
  `actor_id` INT NOT NULL,
  `full_name` VARCHAR(100) NULL,
  PRIMARY KEY (`actor_id`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `archivos_videoclub`.`CATEGORY`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `archivos_videoclub`.`CATEGORY` (
  `category_id` INT NULL,
  `category_name` VARCHAR(45) NOT NULL,
  `last_update` DATETIME NULL,
  PRIMARY KEY (`category_name`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `archivos_videoclub`.`RENTAL`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `archivos_videoclub`.`RENTAL` (
  `rental_id` INT NOT NULL,
  `rental_date` DATETIME NULL,
  `inventory_id` INT NULL,
  `customer_id` INT NULL,
  `return_date` DATETIME NULL,
  `staff_id` INT NULL,
  `last_update` VARCHAR(45) NULL,
  PRIMARY KEY (`rental_id`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `archivos_videoclub`.`INVENTORY`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `archivos_videoclub`.`INVENTORY` (
  `inventory_id` INT NOT NULL,
  `title_id` INT NULL,
  `RENTAL_rental_id` INT NOT NULL,
  PRIMARY KEY (`inventory_id`, `RENTAL_rental_id`),
  INDEX `fk_INVENTORY_RENTAL1_idx` (`RENTAL_rental_id` ASC) VISIBLE,
  CONSTRAINT `fk_INVENTORY_RENTAL1`
    FOREIGN KEY (`RENTAL_rental_id`)
    REFERENCES `archivos_videoclub`.`RENTAL` (`rental_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `archivos_videoclub`.`FILMS`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `archivos_videoclub`.`FILMS` (
  `title_id` INT NOT NULL,
  `title` VARCHAR(45) NULL,
  `description` VARCHAR(5000) NULL,
  `release_year` INT NULL,
  `language_id` INT NULL,
  `rental_duration` FLOAT NULL,
  `rental_rate` DECIMAL(0) NULL,
  `length` INT NULL,
  `replacement_cost` FLOAT NULL,
  `rating` VARCHAR(45) NULL,
  `special_features` VARCHAR(500) NULL,
  `last_update` DATETIME NULL,
  `INVENTORY_inventory_id` INT NOT NULL,
  `INVENTORY_RENTAL_rental_id` INT NOT NULL,
  PRIMARY KEY (`title_id`, `INVENTORY_inventory_id`, `INVENTORY_RENTAL_rental_id`),
  INDEX `fk_FILMS_INVENTORY1_idx` (`INVENTORY_inventory_id` ASC, `INVENTORY_RENTAL_rental_id` ASC) VISIBLE,
  CONSTRAINT `fk_FILMS_INVENTORY1`
    FOREIGN KEY (`INVENTORY_inventory_id` , `INVENTORY_RENTAL_rental_id`)
    REFERENCES `archivos_videoclub`.`INVENTORY` (`inventory_id` , `RENTAL_rental_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `archivos_videoclub`.`OLD_HDD`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `archivos_videoclub`.`OLD_HDD` (
  `name_surname` VARCHAR(500) NULL,
  `title` VARCHAR(45) NULL,
  `release_year` YEAR NULL,
  `category_id` INT NULL,
  `ACTORES_actor_id` INT NULL,
  `FILMS_title_id` INT NULL,
  `CATEGORY_category_name` INT NULL,
  INDEX `fk_OLD_HDD_FILMS1_idx` (`FILMS_title_id` ASC) VISIBLE,
  INDEX `fk_OLD_HDD_CATEGORY1_idx` (`title` ASC) VISIBLE,
  CONSTRAINT `fk_OLD_HDD_ACTORES`
    FOREIGN KEY (`ACTORES_actor_id`)
    REFERENCES `archivos_videoclub`.`ACTORES` (`actor_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_OLD_HDD_FILMS1`
    FOREIGN KEY (`FILMS_title_id`)
    REFERENCES `archivos_videoclub`.`FILMS` (`title_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_OLD_HDD_CATEGORY1`
    FOREIGN KEY (`title`)
    REFERENCES `archivos_videoclub`.`CATEGORY` (`category_name`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;