# **PROYECTO SHARKS**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/attacks.csv', encoding='latin-1')

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df._get_numeric_data().shape  #con esto saco el shape de los elementos numéricos

(25723, 2)

In [7]:
df.select_dtypes('object').shape  # con esto saco el shape de los elementos tipo object

(25723, 22)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# **La mayoría de columnas del DF albergan datos de tipo object, frente a 2 columnas de tipo Float**

# Ahora voy a borrar valores nulos

In [12]:
umbral = 0.6  # Define el umbral del 60% de valores nulos
porcentaje_nulos = df.apply(lambda row: row.isnull().sum() / len(row), axis=1)  # Calcula el porcentaje de valores nulos en cada fila
num_filas = sum(porcentaje_nulos > umbral)  # Cuenta el número de filas que tienen un porcentaje de valores nulos mayor que el umbral

num_filas

19421

In [13]:
# Ahora voy a borrar estas filas porque tienen demasiados valores nulos utilizando drop.

indices = porcentaje_nulos[porcentaje_nulos > umbral].index  # Obtiene los índices de las filas que cumplen el umbral
df = df.drop(indices, axis=0)  # Elimina las filas que cumplen el umbral del DataFrame

In [14]:
df.shape

(6302, 24)

In [ ]:
# Ahora tengo muchas menos filas, genial

# **Filas duplicadas**

In [16]:
duplicados = df[df.duplicated()]

duplicados

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [ ]:
# Esto significa que no hay filas duplicadas, genial

# **Ahora voy a ir columna por columna limpiando los datos**

**COLUMNA 1 - Case Number**

In [17]:
# Columna 1 : Case Number. Entiendo que es una especie de identificador, un ID.

df['Case Number'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que son strings correspondientes a fechas.
# Voy a quitarles los puntos entre medio. De esta manera voy a poder manejarlos mejor

In [19]:
df['Case Number'] = df['Case Number'].replace('\.', '', regex=True)

In [20]:
print(df['Case Number'])

0       20180625
1       20180618
2       20180609
3       20180608
4       20180604
          ...
6297      ND0005
6298      ND0004
6299      ND0003
6300      ND0002
6301      ND0001
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que estos string IDs no sólo tienen una estructura tipo fecha, sino que también tienen la forma de, por ejemplo, ND0005
# Por ahora eso me da igual, son IDs y cada uno se llama de una manera.
# Parece que la mayoría de esos IDs tienen esas dos "morfologías"

**COLUMNA 2 - Date**

In [ ]:
# Esta columna representa fechas, se entiende que es la fecha del incidente

# Compruebo el tipo de dato que contiene esta columna

In [25]:
df['Date'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Date, Length: 6302, dtype: object

In [26]:
print(df['Date'])

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6297    Before 1903
6298    Before 1903
6299      1900-1905
6300      1883-1889
6301      1845-1853
Name: Date, Length: 6302, dtype: object

In [ ]:
# Veo que la columna Date contiene datos de fechas pero escritos de manera diferente, muy lioso.

In [ ]:
# Por otro lado, veo que la siguiente columna se llama Year, por lo que voy a ver qué tiene, por si me ayuda para decidir lo que hacer con la de Date.

In [27]:
print(df['Year'])

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6297       0.0
6298       0.0
6299       0.0
6300       0.0
6301       0.0
Name: Year, Length: 6302, dtype: float64

In [28]:
print(df['Year'].value_counts()[0.0])

125

In [ ]:
# He comprobado que en la columna year hay algunos valores iguales a 0.0. 
# Eso no me da ninguna información, por lo que voy a borrar las filas que tienen ese year 0.0.

In [33]:
rows_to_drop = df[df['Year'] == 0.0].index
df = df.drop(rows_to_drop)

In [34]:
df.shape

(6176, 24)

In [35]:
# Ahora tengo un df de (6176, 24)

**COLUMNA 4 - Type**

In [ ]:
# Esta columna indica el tipo de ataque: provocado, no provocado, y más tipos que no conozco.
# lo primero que voy a hacer es sacar los valores únicos

In [37]:
value_counts = df['Type'].value_counts()

print(value_counts)

Unprovoked      4487
Provoked         567
Invalid          544
Sea Disaster     233
Boating          203
Boat             135
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [38]:
# Voy a agruparlos únicamente en provocados y no provocados
# Voy a pasar las distintas categorías a Unprovoked, y los inválidos los voy a dejar tal y como están.
# Los paso a Unprovoked porque se entiende que en las categorías como Sea Disaster o Boating no se le estaba provocando.

In [ ]:
# Sustituyo los valores de sea disaster, boating, boat, questionable y boatomg y les coloco "Unprovoked"
# para eso creo un diccionario con lo que quiero sustituir, y luego los reemplazo en el df

In [39]:
diccionario_reemplazar = {'Sea Disaster': 'Unprovoked', 'Boating': 'Unprovoked', 'Boat': 'Unprovoked', 'Questionable': 'Unprovoked', 'Boatomg': 'Unprovoked'}

In [40]:
# Reemplazar los valores en la columna "Type" utilizando el diccionario de reemplazo
df['Type'] = df['Type'].replace(diccionario_reemplazar)

In [44]:
print(df['Type'])

0       Unprovoked
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6172    Unprovoked
6173    Unprovoked
6174    Unprovoked
6175    Unprovoked
6176    Unprovoked
Name: Type, Length: 6176, dtype: object

**COLUMNA 5 - Country**

In [95]:
df['Country']

0             USA
1             USA
2             USA
3       AUSTRALIA
4          MEXICO
          ...
6172       FRANCE
6173    VENEZUELA
6174       MEXICO
6175          NaN
6176    AUSTRALIA
Name: Country, Length: 6176, dtype: object

In [ ]:
# Aquí voy a rellenar los valores nulos por el país que tenga más probabilidad de sufrir ataques.

# Según publicó en el diario 20 min en febrero de 2023, Estados Unidos es el país con más ataques de tiburones en el mundo.

# Por lo tanto, sustituiré los valores nulos por "USA"

In [267]:
df['Country'].fillna('USA', inplace=True)

df['Country'].head()

0          usa
1          usa
2          usa
3    australia
4       mexico
Name: Country, dtype: category
Categories (196, object): ['admiralty islands', 'africa', 'algeria', 'american samoa', ..., 'west indies', 'western samoa', 'yemen', 'USA']

**COLUMNA 6 - Area**

In [49]:
df['Area'].value_counts()

Florida                  1029
New South Wales           484
Queensland                308
Hawaii                    295
California                287
                         ...
Island of Kos               1
Ha'api                      1
Madeira Islands             1
Ho Ha Wan Marine Park       1
Ionian Sea                  1
Name: Area, Length: 804, dtype: int64

In [61]:
# 804 valores unicos, o lo que es lo mismo, lugares en los que han ocurrido ataques.

# De los 6mil accidentes aprox, 1029 de ellos son en Florida, "New South Wales" 484, 308 en Queensland, etc...

# Los valores son de tipo int. , por lo que nos viene bien por si tenemos que operar con ellos en algún momento.

**Special Characters**

In [ ]:
# Me olvidé de hacerlo al principio.
# Voy a borrar los special characters por si acaso me conducen a algún error.

In [63]:
import re

# Creamos una expresión regular para encontrar los caracteres especiales
regex_special = r'[^\w\s]'

# Aplicamos la expresión regular a todas las celdas del DataFrame y contamos los resultados
count_special = df.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()

# Imprimimos el resultado
print("La cantidad de celdas que contienen caracteres especiales es:", count_special)

La cantidad de celdas que contienen caracteres especiales es: 65120

In [79]:
# Ahora voy a normalizar todos los caracteres especiales a lo largo del dataframe.

import unicodedata

# para ello defino una función para normalizar una cadena
def normalize_string(s):
    return unicodedata.normalize('NFKD', str(s)).encode('ascii', 'ignore').decode('utf-8')

# despues aplico esa función a todo el DataFrame, y el nuevo df se llamara df normalizado
df_normalizado = df.applymap(normalize_string)

In [80]:
df_normalizado

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,20180625,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,nan,nan
1,20180618,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,nan,nan
2,20180609,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,nan,nan
3,20180608,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,nan,nan
4,20180604,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,15540000,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,nan,nan,males (wearing armor),M,...,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,nan,nan
6173,15430000,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,nan,Pearl diving,Indian slave,M,...,nan,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,nan,nan
6174,05000000,Circa 500 A.D.,500.0,Unprovoked,MEXICO,nan,nan,nan,male,M,...,nan,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,nan,nan
6175,00770000,77 A.D.,77.0,Unprovoked,nan,Ionian Sea,nan,Sponge diving,males,M,...,nan,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,nan,nan
6176,00050000,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,nan,male,M,...,nan,Waverly Library,0005.00.00-AustralianAboriginal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0005.00.00,0005.00.00,127.0,nan,nan

In [81]:
count_special_normalizado = df_normalizado.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()
print("La cantidad de caracteres especiales en el DataFrame normalizado es:", count_special_normalizado)

La cantidad de caracteres especiales en el DataFrame normalizado es: 65063

In [82]:
# Antes había 65120 caracteres especiales, pero tras correr la función normalize a lo largo del df, ahora se han reducido a 65063

In [ ]:
# Ahora voy a borrar todos los caracteres especiales del df

In [85]:
import re

regex_special = r'[^\w\s]'
df_clean = df.replace(regex_special, '', regex=True)

In [86]:
# compruebo que no hay caracteres especiales

import re

regex_special = r'[^\w\s]'
count_special = df_clean.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()
print("La cantidad de caracteres especiales en el DataFrame limpio es:", count_special)

La cantidad de caracteres especiales en el DataFrame limpio es: 12350

In [ ]:
# Se han eliminado muchos, aunque todavía quedan. Los voy a dejar así por ahora.

**Voy a cambiar los IDs de la primera columna por un indice sencillo**

In [88]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,20180625,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,20180618,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,20180609,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,20180608,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,20180604,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [89]:
df.shape

(6176, 24)

In [90]:
# Generar una secuencia de números del 1 al 6176
n_filas = len(df)
numeros = range(1, n_filas+1)

# Asignar los números a la columna "Case Number"
df['Case Number'] = numeros

In [92]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,1,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,3,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,4,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,5,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
# Hecho. De esta manera tengo los case numbers ordenados del 1 al 6176 , y es más fácil usarlos.

**Columa 7 - Location**

In [ ]:
# Voy a quitar espacios en en blanco innecesarios

In [93]:
df['Location'] = df['Location'].str.strip()

In [94]:
df['Location']

0          Oceanside, San Diego County
1       St. Simon Island, Glynn County
2                         Habush, Oahu
3                   Arrawarra Headland
4                             La Ticla
                     ...
6172                               NaN
6173                               NaN
6174                               NaN
6175                               NaN
6176                             Bondi
Name: Location, Length: 6176, dtype: object

In [96]:
# Sé que algunas localizaciones son más concretas que otras, pero no voy a estandarizarlas y ponerlas todas con la misma estructura.
# Creo que tener más información en algunas celdas no "ensucia" el dataframe.

**Columa 8 - Activity**

In [101]:
df['Activity'].tolist()

['Paddling',
 'Standing',
 'Surfing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Standing',
 'Feeding sharks',
 'Boogie boarding',
 'Swimming',
 'Fishing',
 'Feeding sharks',
 'Surfing',
 'Surfing',
 'Swimming',
 'Scuba diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing',
 'Paddle-skiing',
 'Body boarding',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing',
 'Windsurfing',
 'Swimming',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Swimming',
 'Surfing',
 'Scuba Diving',
 'Swimming',
 'Kayak fishing for sharks',
 'Walking',
 'Swimming',
 'Cleaning fish',
 'Snorkeling',
 'Spearfishing',
 nan,
 'Spearfishing',
 'Diving',
 'Free diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing / Wading',
 'Snorkeling',
 'Scuba Diving',
 'Scuba diving',
 '2 boats capsized',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Night bathing',
 'Snorkeling',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Swimming',
 'Surfing ',
 'Swimming',
 'Kayaking / Fishing',
 'Kayaking',
 'Swimming',
 'Surfing',
 'Snorkeling',
 'Scuba Diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Body surfing',
 'Surfing',
 'Scuba Diving',
 'Fishing',
 'Fishing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Spearfishing',
 'Swimming, poaching abalone',
 'Surfing',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Wading',
 'Swimming',
 'Canoeing',
 'SUP',
 'Spearfishing',
 'Swimming',
 'Snorkeling',
 'Fishing',
 'Kayaking / Fishing',
 'Skimboarding',
 'Swimming',
 nan,
 'Snorkeling',
 'Spearfishing',
 'Surfing',
 nan,
 'Swimming',
 nan,
 'Swimming',
 'Kayaking',
 'SUP',
 'Surfing',
 'Surfing',
 'Kayaking',
 'Swimming',
 'Fishing',
 'Surfing',
 'Fishing',
 'Swimming',
 'Surfing',
 'Swimming',
 'Body boarding',
 'Swimming',
 'Surfing',
 'Feeding sharks',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Surfing ',
 'Spearfishing',
 'Snorkeling',
 'Touching a shark',
 'Feeding sharks',
 'Fishing ',
 'Spearfishing',
 'Attempting to lasso a shark',
 'Snorkeling',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Body boarding',
 'Body boarding',
 'Photo shoot',
 'Snorkeling',
 'Swimming',
 nan,
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Scuba Diving',
 'Surfing',
 'Paddle boarding',
 'Swimming',
 'Swimming',
 'Swimming',
 'Kakaying',
 'Swimming',
 'Surfing',
 'Body boarding',
 'Kayaking',
 'Spearfishing',
 'Washing hands',
 'Snorkeling',
 'Surfing',
 'Body boarding',
 'Spearfishing',
 'Swimming',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Scuba Diving',
 'Swimming',
 nan,
 'Scuba Diving',
 'Swimming',
 nan,
 'Surfing',
 'Spearfishing',
 'Wading',
 'Wading',
 'Surfing',
 'Snorkeling',
 'Surf skiing ',
 'Free diving',
 'Fishing',
 'Surfing',
 'Surf fishing',
 'Surfing',
 'Fishing',
 'Floating',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Cage Diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfng',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing',
 'Wading',
 'Swimming',
 'Kite surfing',
 'Boogie boarding',
 'Surfing',
 'Body boarding',
 'Spearfishing',
 'Cage Diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Wading',
 'Snorkeling',
 'SUP Foil boarding',
 'Surfing',
 'Swimming',
 'Swimming',
 'Kayaking',
 'Lobstering',
 'Surfing',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Fishing',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Surfing',
 nan,
 'Kite surfing',
 'Swimming',
 'Scuba Diving',
 'Wading',
 'Fishing for squid',
 'Fishing',
 'Fishing for sharks',
 'Swimming',
 'Fishing',
 nan,
 'Surfing',
 'Scuba Diving',
 'Spearfishing',
 'Floating',
 'Wading',
 'Surfing',
 'Spearfishing',
 'Floating in tube',
 'Standing',
 'Surfing',
 'Swimming',
 'Diving',
 'Swimming',
 'Spearfishing',
 'Kite surfing',
 'Surfing',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Teasing a shark',
 'Floating',
 'Fishing',
 'Surfing',
 'Surfing',
 'Surf-skiing',
 'Swimming',
 'Spearfishing',
 'Spearfishing',
 'Spearfishing',
 'Walking',
 nan,
 'Fishing',
 'SUP',
 'Snorkeling',
 'Surfing',
 nan,
 'Surfing',
 nan,
 'Surfing',
 'Body surfing',
 'Diving for beche-de-mer',
 nan,
 'Fishing',
 'Swimming',
 'Kite surfing',
 'Spearfishing',
 'Wading',
 'Feeding stingrays?',
 'Surfing',
 'Walking',
 'Windsurfing',
 'Swimming',
 'Kayak fishing',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Fishing',
 'Paddle boarding',
 'Surfing',
 'Wading',
 'Spearfishing',
 'Kayak Fishing',
 'Swimming',
 'Paddle boarding',
 'Surfing',
 'Scuba diving',
 'Sea disaster',
 'Fishing',
 'Lobster fishing',
 'Swimming / Wading',
 'Snorkeling',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Wading',
 'Fishing',
 'Spearfishing',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing for shrimp',
 'Surfing',
 'Swimming',
 'Kayak Fishing',
 'Boogie boarding',
 'Surfing',
 'Fishing',
 'Surfing',
 'Body boarding',
 'Wading',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Kayak fishing',
 'Surfing',
 'Spearfishing',
 'Wading',
 'Photographing fish',
 'Kayak Fishing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Kayak Fishing',
 'Surf-skiing',
 nan,
 'Wading',
 'Spearfishing',
 'Surfing',
 'Surfing',
 nan,
 'Surfing',
 'Surfing',
 'Walking',
 'Kayak Fishing',
 'Swimming',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Floating',
 'Scallop diving on hookah',
 'Kayak Fishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Treading water',
 'Swimming',
 'Spearfishing',
 nan,
 'Surfing',
 'Body boarding ',
 'Swimming',
 'Surfing',
 'Playing in the water',
 'Swimming',
 'Body Boarding',
 'Swimming',
 'Surfing',
 'Standing',
 'Swimming',
 'Body surfing?',
 'Swimming',
 'Surfing',
 'Standing',
 'Spearfishing',
 'Swimming',
 'Wading',
 'Wading',
 nan,
 'Boogie boarding',
 'Playing',
 'Attempting to rescue a shark',
 'Surfing',
 'Standing',
 'Wading',
 'Spearfishing',
 'Swimming',
 'Surfing',
 nan,
 'Snorkeling',
 'Swimming',
 'Surfing',
 'Diving',
 'Snorkeling',
 'Wading',
 'Surfing',
 'Surf skiing ',
 'Photographing the shark',
 'Surfing',
 'Paddle boarding',
 'Spearfishing',
 'Diving',
 'Surfing',
 'Kayak Fishing',
 'Swimming',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Fishing',
 'Fishing',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing',
 'Floating',
 'Fishing',
 'Surfing & filming dolphins',
 'Fishing',
 'Filming',
 'Swimming after falling overboard',
 'Snorkeling',
 'Surfing',
 nan,
 'Surfing',
 'Spearfishing',
 nan,
 'Swimming',
 'Surfing',
 'Fishing',
 'Diving / Filming',
 'Spearfishing',
 'Fishing for blue sharks',
 'Surfing',
 'Fishing',
 'Fishing',
 nan,
 'Surfing',
 'Snorkeling',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Stand-Up Paddleboarding',
 'Canoeing',
 'Surfing',
 'Surfing',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking',
 'Surfing',
 'Fishing',
 'Surfing',
 'Kayaking',
 'Kayaking ',
 'Surfing',
 'Surfing',
 'Surfing',
 'Feeding fish',
 'Surfing',
 'Swimming',
 'Fishing ',
 'Kayaking ',
 'Fishing',
 'Playing with an air mattress',
 'Body surfing',
 'Surfing',
 nan,
 'Fishing',
 'Swimming',
 'Surfing',
 'Standing',
 'Fishing for sharks',
 'Kite boarding',
 'Spearfishing',
 'Standing',
 nan,
 'Spearfishing',
 'Swimming',
 'Swimming',
 'Boogie boarding',
 'Swimming',
 'Surfing',
 'Boogie boarding',
 'Surfing',
 'Sea disaster',
 'Swimming',
 'Surfing',
 'Standing',
 'Wading',
 'Swimming',
 'Swimming',
 'Shark diving',
 'Body surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Body surfing',
 'Transatlantic Rowing',
 'Spearfishing',
 'Surfing',
 'Body boarding',
 'Petting a shark',
 'Fishing',
 'Standing',
 'Body boarding',
 'Surfing',
 'Kneeling in the water',
 'Swimming',
 'Surfing',
 'Tagging sharks',
 'Fell into the water',
 'Scuba diving',
 'Teasing a shark',
 'Body boarding',
 'Surfing',
 'Wading',
 'Surfing',
 'Diving',
 'Swimming',
 'Diving',
 'Surfing',
 'Spearfishing',
 'Swimming',
 'Wading',
 'Shark watching',
 'Fishing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Diving for lobsters',
 'Swimming',
 'Kite Surfing',
 'Surfing',
 'Kite Surfing',
 'Surfing',
 nan,
 'Swimming',
 'Scuba diving / culling lionfish',
 'Surfing',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Fishing',
 'Surfing',
 'Fishing',
 'Spearfishing',
 'Sea disaster',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Snorkeling',
 'Surfing',
 'Attempting to remove fishing net from submerged object',
 'Boogie boarding',
 'Surfing',
 'Surfing',
 'Kayaking / Fishing',
 'Body boarding',
 'Snorkeling',
 'Surfing',
 'Surfing',
 'Surfing',
 'Shark fishing',
 'Body boarding',
 'Surfing',
 'Kiteboarding',
 'Snorkeling',
 'Body boarding',
 'Diving for crayfish',
 'Surfing',
 'Diving ',
 'Surfing',
 'Wading',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Surfing',
 'Wading',
 'Surfing',
 'Diving',
 'Standing',
 'Swimming',
 'Surfing',
 'Swimming',
 'Surfing',
 nan,
 'Surfing',
 'Standing',
 'Swimming',
 nan,
 nan,
 'Casting a net',
 'Spearfishing',
 'Swimming',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Boogie boarding',
 'Wrangling a shark',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Kiteboarding',
 'Surfing',
 'Attempting to free the shark',
 'Fishing',
 'Snorkeling',
 'Swimming',
 'Spearfishing',
 'Wading',
 'Surfing',
 'Cleaning fish',
 'Diving',
 'Swimming',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Swimming',
 'Wading',
 'Swimming',
 'Body surfing',
 'Fishing',
 nan,
 'Kayaking / Fishing',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Boogie Boarding',
 'Fishing for sharks',
 'Surfing',
 'Diving',
 'Swimming',
 nan,
 'Fishing',
 'Surfing',
 'Surfing',
 'Body boarding',
 'Surfing',
 'Fishing',
 'Swimming',
 'Fishing',
 'Playing in the surf',
 'Free diving',
 'Surfing',
 nan,
 'Kite boarding',
 'Swimming',
 nan,
 'Surfing',
 'Surfing',
 'Free diving',
 'Snorkeling',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Surfing',
 'Spearfishing',
 'Spearfishing',
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Scuba diving',
 nan,
 'Fishing',
 'Surfing',
 'Dragging stranded shark into deeper water',
 'Surfing',
 'Spearfishing',
 'Spearfishing / Free diving',
 'Swimming',
 'Surfing',
 'Paddle boarding',
 'Swimming',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Scuba diving',
 'Snorkeling',
 nan,
 'Swimming',
 'Surfing',
 'Diving',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 nan,
 'Surfing',
 'Paddle boarding',
 nan,
 'Bathing',
 'Windsurfing',
 'Bodyboarding',
 'Surfing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Boogie boarding',
 'Spearfishing',
 'Swimming or boogie boarding',
 'Shark fishing',
 'Surfing',
 'Swimming',
 'Wading or swimming',
 'Fishing',
 'Free diving ',
 'Surfing',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Body surfing',
 nan,
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Swimming',
 'Spearfishing',
 'Scuba diving',
 'Kayaking',
 'Surfing',
 'Swimming',
 'Swimming',
 'Surfing',
 'Sitting in the water',
 'Surfing',
 'Swimming',
 'Surf skiing ',
 'Standing',
 'Wading',
 'Fishing',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Surfing',
 'Attempting to rescue an injured & beached shark',
 'Surf skiing ',
 'Surfing',
 'Boogie Boarding',
 'Wading',
 'Free diving / spearfishing',
 'Surfing',
 'Kayak Fishing',
 'Spearfishing',
 'Kayaking / Fishing',
 'Swimming',
 'Paddle boarding',
 'Surfing',
 'Body boarding',
 'Kayaking',
 'Surfing',
 nan,
 'Scuba diving',
 'Surfing',
 'Crayfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Diving, feeding sharks',
 'Body boarding',
 'Kite Surfing',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Kite Surfing',
 'Fishing',
 'Fishing',
 'Surfing',
 'Snorkeling',
 'Snorkeling',
 'Diving, photographing sharks',
 'Fishing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Spearfishing',
 nan,
 'Swimming',
 'Surfing',
 'Surfing',
 'Canoeing',
 'Kayak Fishing',
 'Surfing',
 'Surf skiing ',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Kayaking',
 'Scuba diving',
 'Surfing',
 'Free diving / spearfishing',
 'Surfing',
 'Surfing',
 'Diving',
 'Diving',
 'Surfing',
 'Diving',
 'Surfing',
 'Surfing',
 'Swimming',
 'Canoeing',
 'Wade fishing',
 nan,
 'Surfing',
 'Fishing',
 'Swimming',
 'Spearfishing',
 'Jumping in the waves',
 'Canoeing',
 'Body boarding',
 'Swimming',
 'Surfing',
 'Surfing',
 'Kite Surfing',
 'Surfing',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Swimming',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Surfing',
 nan,
 'Surfing',
 'Swimming',
 'Wading',
 nan,
 'Swimming',
 'Surfing',
 'Floating ',
 'Swimming or Snorkeling',
 'Playing in the surf',
 'Swimming',
 'Diving',
 'Swimming',
 'Sea disaster',
 'Wade Fishing',
 'Surfing',
 'Boogie Boarding',
 'Kayaking or Wave skiing',
 'Surf fishing',
 'Scuba diving',
 'Swimming',
 'Wade Fishing',
 'Surfing',
 'Kayaking',
 'Snorkeling',
 'Surfing',
 'Scuba diving',
 'Playing in the surf',
 'Surfing',
 'Jet skiing',
 'Spearfishing',
 'Surfing',
 'Boogie Boarding',
 'Fishing',
 'Scuba diving',
 'Spearfishing',
 'Spearfishing',
 'Wading',
 'Snorkeling',
 'Standing or boogie boardin',
 'Surfing',
 'Surfing',
 'Paddle boarding',
 'Spearfishing',
 'Body surfing',
 'Kite Boarding',
 'Surfing',
 'Fishing ',
 'Fishing ',
 'Spearfishing',
 'Spearfishing',
 'Washing sand off a speared fish',
 'Surfing ',
 'Surfing',
 'Surfing',
 'Diving',
 'Standing, holding shark pup',
 'Swimming',
 'Surfing',
 'Swimming',
 'Diving / fishing',
 'Wakeboarding',
 nan,
 'Surfing',
 'Fishing',
 'Spearfishing',
 'Surfing',
 'Diving for abalone',
 'Fishing',
 'Snorkeling',
 'Shark fishing on the Ricardo Astorga',
 'Surf fishing',
 'Swimming',
 'Shark fishing on the Don Agustín-VI. ',
 'Scuba diving',
 'Swimming',
 'Surfing',
 'Attempting to fix motor',
 'Fishing',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Surfing',
 'Snorkeling',
 'Snorkeling',
 'Snorkeling',
 'Snorkeling',
 'Fishing',
 'Swimming',
 'Snorkeling',
 'Diving',
 'Surfing',
 'Fishing',
 'Snorkeling',
 'Spearfishing',
 'Surfing',
 'Fishing',
 'Scuba diving',
 'Kite Surfing',
 'Body boarding',
 'Snorkeling',
 'Surfing',
 'Snorkeling',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Swimming',
 'Swimming /  Whale Watching',
 'Surfing',
 'Surfing',
 'Surfing',
 nan,
 'Swimming after boat became disabled',
 'Boogie Boarding',
 'Surfing',
 'Kayak Fishing',
 'Fishing',
 'Swimming',
 'Surfing',
 ...]

In [104]:
df['Activity'].unique()

array(['Paddling', 'Standing', 'Surfing', ..., 'Went overboard',
       'Ship lay at anchor & man was working on its rudder',
       'Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship'],
      dtype=object)

In [ ]:
# Veo que hay descripciones de la actividad en cuestión de varias palabras, cuando la mayoría están descritas con una palabra
# ejemplo : Swimming , Surfing , Fishing

# Voy a filtrar las actividades que tengan más de dos palabras

In [105]:
lista = df[df['Activity'].str.split().str.len() >= 2]['Activity'].tolist()

lista

['Free diving',
 'Kite surfing',
 'Feeding sharks',
 'Boogie boarding',
 'Feeding sharks',
 'Scuba diving',
 'Body boarding',
 'Stand-Up Paddleboarding',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Cleaning fish',
 'Free diving',
 'Fishing / Wading',
 'Scuba Diving',
 'Scuba diving',
 '2 boats capsized',
 'Night bathing',
 'Stand-Up Paddleboarding',
 'Kayaking / Fishing',
 'Scuba Diving',
 'Body surfing',
 'Scuba Diving',
 'Swimming, poaching abalone',
 'Kayaking / Fishing',
 'Body boarding',
 'Feeding sharks',
 'Body boarding',
 'Touching a shark',
 'Feeding sharks',
 'Attempting to lasso a shark',
 'Body boarding',
 'Body boarding',
 'Photo shoot',
 'Scuba Diving',
 'Paddle boarding',
 'Body boarding',
 'Washing hands',
 'Body boarding',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Scuba Diving',
 'Scuba Diving',
 'Surf skiing ',
 'Free diving',
 'Surf fishing',
 'Cage Diving',
 'Kite surfing',
 'Boogie boarding',
 'Body boarding',
 'Cage Diving',
 'SUP Foil boarding',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Kite surfing',
 'Scuba Diving',
 'Fishing for squid',
 'Fishing for sharks',
 'Scuba Diving',
 'Floating in tube',
 'Kite surfing',
 'Teasing a shark',
 'Body surfing',
 'Diving for beche-de-mer',
 'Kite surfing',
 'Feeding stingrays?',
 'Kayak fishing',
 'Paddle boarding',
 'Kayak Fishing',
 'Paddle boarding',
 'Scuba diving',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Body boarding',
 'Fishing for shrimp',
 'Kayak Fishing',
 'Boogie boarding',
 'Body boarding',
 'Kayak fishing',
 'Photographing fish',
 'Kayak Fishing',
 'Stand-Up Paddleboarding',
 'Kayak Fishing',
 'Kayak Fishing',
 'Scallop diving on hookah',
 'Kayak Fishing',
 'Treading water',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Boogie boarding',
 'Attempting to rescue a shark',
 'Surf skiing ',
 'Photographing the shark',
 'Paddle boarding',
 'Kayak Fishing',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Swimming after falling overboard',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Stand-Up Paddleboarding',
 'Stand-Up Paddleboarding',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Feeding fish',
 'Playing with an air mattress',
 'Body surfing',
 'Fishing for sharks',
 'Kite boarding',
 'Boogie boarding',
 'Boogie boarding',
 'Sea disaster',
 'Shark diving',
 'Body surfing',
 'Body surfing',
 'Transatlantic Rowing',
 'Body boarding',
 'Petting a shark',
 'Body boarding',
 'Kneeling in the water',
 'Tagging sharks',
 'Fell into the water',
 'Scuba diving',
 'Teasing a shark',
 'Body boarding',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Spearfishing / Free diving',
 'Sea disaster',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Boogie boarding',
 'Kayaking / Fishing',
 'Body boarding',
 'Shark fishing',
 'Body boarding',
 'Body boarding',
 'Diving for crayfish',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Boogie boarding',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Cleaning fish',
 'Walking in surf',
 'Swimming & snorkeling',
 'Body surfing',
 'Kayaking / Fishing',
 'Boogie Boarding',
 'Fishing for sharks',
 'Body boarding',
 'Playing in the surf',
 'Free diving',
 'Kite boarding',
 'Free diving',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Scuba diving',
 'Dragging stranded shark into deeper water',
 'Spearfishing / Free diving',
 'Paddle boarding',
 'Scuba diving',
 'Paddle boarding',
 'Boogie boarding',
 'Swimming or boogie boarding',
 'Shark fishing',
 'Wading or swimming',
 'Free diving ',
 'Body surfing',
 'Scuba diving',
 'Sitting in the water',
 'Surf skiing ',
 'Attempting to rescue an injured & beached shark',
 'Surf skiing ',
 'Boogie Boarding',
 'Free diving / spearfishing',
 'Kayak Fishing',
 'Kayaking / Fishing',
 'Paddle boarding',
 'Body boarding',
 'Scuba diving',
 'Diving, feeding sharks',
 'Body boarding',
 'Kite Surfing',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Kite Surfing',
 'Diving, photographing sharks',
 'Kayak Fishing',
 'Surf skiing ',
 'Scuba diving',
 'Free diving / spearfishing',
 'Wade fishing',
 'Jumping in the waves',
 'Body boarding',
 'Kite Surfing',
 'Body boarding',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Swimming or Snorkeling',
 'Playing in the surf',
 'Sea disaster',
 'Wade Fishing',
 'Boogie Boarding',
 'Kayaking or Wave skiing',
 'Surf fishing',
 'Scuba diving',
 'Wade Fishing',
 'Scuba diving',
 'Playing in the surf',
 'Jet skiing',
 'Boogie Boarding',
 'Scuba diving',
 'Standing or boogie boardin',
 'Paddle boarding',
 'Body surfing',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Surf fishing',
 'Shark fishing on the Don Agustín-VI. ',
 'Scuba diving',
 'Attempting to fix motor',
 'Body boarding',
 'Scuba diving',
 'Kite Surfing',
 'Body boarding',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Boogie Boarding',
 'Kayak Fishing',
 'Stand-Up Paddleboarding',
 'Boogie Boarding',
 'Boogie Boarding',
 'Scuba diving',
 'Measuring sharks',
 'Swimming / treading water',
 'Scuba diving',
 'Body boarding',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Kite Boarding',
 'Boogie Boarding',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Body boarding',
 'Wade Fishing',
 'Washing his feet',
 'Boogie Boarding',
 'Fishing for sharks',
 'Scuba diving',
 'Scuba diving',
 'Surf skiing ',
 'Feeding fish',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Yacht race',
 'Boogie Boarding',
 'Scuba diving',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Scuba diving',
 'Swimming, towing surfboard',
 'Treading water',
 'Swimming or surfing',
 'Body surfing',
 'Rowing an inflatable dinghy',
 'Surf skiing ',
 'Spearfishing (free diving)',
 'Body surfing',
 'Body surfing',
 'Sea Disaster',
 'Night diving',
 'Body boarding',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 'Boogie Boarding',
 'Walking out of the water after surfing',
 'Jet skiing',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Scuba diving',
 'Removing fish from a trap',
 'Shark diving',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Scuba diving',
 'Body boarding',
 'Floating near boat & observing bioluminesce',
 'Walking out of the water after surfing',
 'Boogie Boarding',
 'Jumped into the water',
 'Surf paddling',
 'Kayak Fishing',
 'Scuba diving',
 'Body boarding',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Sea Disaster',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Body boarding',
 'Playing on a sandbar',
 'Shark fishing',
 'Boogie Boarding',
 'Spearfishing (free diving)',
 'Swimming / Body Surfing',
 'Body boarding',
 'Sea Disaster',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Body boarding',
 'Sea Disaster',
 'Lifesaving drill',
 'Touching sharks',
 'Boogie Boarding',
 'Surf fishing',
 'Body boarding',
 'Body boarding',
 'Body boarding',
 'Scuba diving',
 'Tagging sharks',
 'Scuba diving',
 'Body boarding',
 'Free diving',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Scuba diving',
 'Diving for lobsters',
 'Diving for crayfish',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Fishing for sharks',
 'Standing / Surfing',
 'Scuba diving',
 'Treading water/ Surfing',
 'Body surfing',
 'Standing / Surfing',
 'Removing shark from net',
 'Scuba diving',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Boogie boarding',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'Sea Disaster',
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Body boarding',
 'Spearfishing/ filming',
 'Surf fishing',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Body boarding',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Body boarding',
 'Free diving & spearfishing',
 'Scuba diving',
 'Boogie boarding',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming or surfing',
 'Surf skiing',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Body boarding',
 'Standing, stepped on shark',
 'Body boarding',
 'Swimming, wearing black wetsuit & swim fins',
 'Sitting on surfboard',
 'Surf skiing',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Scuba diving',
 'Scuba diving',
 'Scuba diving',
 'Body boarding',
 'Boogie boarding',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Body boarding',
 'Surf skiing',
 'Boogie boarding',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Sitting on surfboard',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Swimming / Wading',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Surf skiing',
 'Body surfing',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Boogie boarding',
 'Walking in shallows',
 'Boogie Boarding',
 'Boogie Boarding',
 'Fell off banana boat',
 'Boogie boarding',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Shark fishing',
 'Spearfishing, carrying his catch',
 'Boogie boarding',
 'Body boarding',
 'Standing alongside surfboard',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Scuba diving',
 'Swimming back from anchored sailboat',
 'Fishing for whiting',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Swimming / snorkeling',
 'Body surfing',
 'Sitting on surfboard',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Free diving',
 'Jumped into the water',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Scuba diving',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Boogie boarding',
 'Body surfing',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Scuba diving',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Body boarding',
 'Body surfing',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Body surfing',
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Boogie boarding',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Paddle Skiing',
 'Inflatable boat',
 'Body surfing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Boogie boarding',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Body Boarding',
 'Body boarding',
 'Body boarding',
 'Swimming / surfing',
 'Body boarding',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Scuba diving',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Sitting on surfboard',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Walking / surfing',
 'Surfing (sitting on his board)',
 'SCUBA diving',
 'SCUBA diving',
 'Floating on raft',
 'Boogie boarding',
 'Body surfing',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Scuba diving',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Diving for abalone',
 'Surfing / Swimming',
 'Sitting on surfboard',
 'Boogie boarding',
 'Body Boarding',
 'Free diving for abalone',
 'Wade fishing',
 'Free diving with a pod of dolphins',
 'Body surfing',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Boogie boarding',
 'Playing / standing',
 'Scuba diving',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Body boarding',
 'Body boarding',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Diving for abalone',
 'Scuba diving for bivalves',
 'Surf skiing',
 'Wind surfing',
 'Scuba diving',
 'Body boarding',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Surfing, paddling seawards',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Body boarding',
 'Scuba diving',
 'Paddling on surfboard or body board',
 'Scuba diving',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 'Sea disaster',
 'Sea disaster',
 'Body boarding',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving',
 'Scuba diving (submerged)',
 'Body boarding',
 'Hookah diving for sea urchins',
 'Scuba diving',
 'Boogie boarding',
 'Body boarding',
 'Surf fishing',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Surfing, paddling seawards',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Surfing (sitting on his board)',
 'Body boarding',
 'Diving for pen shells',
 'Boogie boarding',
 'Hookah diving for sea urchins',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Boogie boarding',
 'Scuba diving',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Boogie boarding',
 'Swimming behind sailboat',
 'Sitting on surfboard',
 'Scuba diving',
 'Surfing, collided with shark',
 'Sitting on surfboard',
 'Scuba diving',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'SCUBA diving',
 'Wade fishing',
 'Scuba diving (but on surface)',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Sitting on surfboard',
 'Scuba diving & spearfishing',
 'Board sailing',
 'Surfing (sitting on his board)',
 "On board 51' fishing vessel One Ki",
 'Free diving & spearfishing',
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 'Scuba diving',
 'Free diving',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Feeding fish',
 'Fishing for sharks',
 'Scuba diving',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Free diving',
 'Surfing (lying prone on his board)',
 'Paddling on surfboard',
 'Paddling on surfboard',
 'Scuba diving, but swimming on surface',
 'Body boarding',
 'Lifesaving drill',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 'Surfing (sitting on his board)',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Boogie boarding',
 'Scuba diving',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pêcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Body surfing',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Boogie boarding',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Surfing (sitting on his board)',
 'Body surfing',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Body boarding',
 'Adrift after ditching plane in the sea',

In [120]:
# convierto todas las cadenas a minúsculas

import re

df['Activity'] = df['Activity'].str.lower()

In [119]:
df['Activity']

0            paddling
1            standing
2             surfing
3             surfing
4         free diving
            ...
6172              NaN
6173     pearl diving
6174              NaN
6175    sponge diving
6176              NaN
Name: Activity, Length: 6176, dtype: object

In [123]:
num_elementos = len([elemento for elemento in df['Activity'].dropna() if len(elemento.split()) >= 2])

num_elementos

2113

In [125]:
df.shape # he comprobado si por si acaso me había sobrescrito las filas del df, pero no

(6176, 24)

In [126]:
df['Activity'] = df['Activity'].fillna('none')

In [128]:
type(df['Activity'])

pandas.core.series.Series

In [130]:
df['Activity'] = df['Activity'].astype(str)

In [135]:
print(df['Activity'].dtype)

object

In [137]:
lista_surfing_final = df[df['Activity'].str.lower().str.split().apply(lambda x: len(x) >= 2 and 'surfing' in x)]['Activity'].tolist()

lista_surfing_final

['kite surfing',
 'body surfing',
 'kite surfing',
 'kite surfing',
 'kite surfing',
 'body surfing',
 'kite surfing',
 'surfing & filming dolphins',
 'body surfing or boogie boarding',
 'body surfing',
 'body surfing',
 'body surfing',
 'kite surfing',
 'kite surfing',
 'body surfing',
 'body surfing',
 'kite surfing',
 'kite surfing',
 'kite surfing',
 'body surfing',
 'kite surfing',
 'swimming or surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'walking out of the water after surfing',
 'walking out of the water after surfing',
 'walking out of the water after surfing',
 'swimming / body surfing',
 'night surfing',
 'standing / surfing',
 'treading water/ surfing',
 'body surfing',
 'standing / surfing',
 'tandem surfing',
 'surfing amid a shoal of sharks',
 'swimming or surfing',
 'boogie boarding or surfing',
 'body surfing',
 'body surfing',
 'standing / surfing',
 'swimming / body surfing',
 'surfing / wading',
 'body surfing',
 'surfing (sitting on his board)',
 'body surfing',
 'wading to shore after surfing',
 'body surfing',
 'body surfing or body boarding',
 'body surfing',
 'surfing (or body boarding)',
 'swimming / surfing',
 'surfing (lying prone on his board)',
 'body boarding or surfing',
 'walking / surfing',
 'surfing (sitting on his board)',
 'body surfing',
 'wading / surfing',
 'surfing / swimming',
 'body surfing',
 'wind surfing',
 'surfing (sitting on his board)',
 'surfing (or sailboarding)',
 'surfing (sitting on his board)',
 'surfing (lying prone on his board)',
 'surfing with dolphins',
 'surfing (sitting on his board)',
 'surfing / treading water',
 'body surfing',
 'surfing (sitting on his board)',
 'body surfing',
 'surfing or body surfing',
 'surfing (sitting on his board)',
 'surfing & dangling foot in water amid baitfish',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing ',
 'body surfing',
 'body surfing',
 'surfing on "chest board" (boogie board?)',
 'body surfing',
 'surfing on air mattress',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing & treading water',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing / treading water',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing',
 'surfing (pneumatic surfboard)',
 'body surfing',
 'bathing or body surfing ',
 'body surfing',
 'body surfing',
 'body surfing',
 'body surfing / treading water',
 'body surfing']

In [139]:
lista_surfing_definitiva = ['surfing' if 'surfing' in actividad.lower() else actividad for actividad in lista_surfing_final]

lista_surfing_definitiva

['surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing']

In [140]:
df['Activity'] = ['surfing' if 'surfing' in actividad.lower() else actividad for actividad in df['Activity']]

In [141]:
surfing_activities = list(filter(lambda x: 'surfing' in x.lower(), df['Activity']))

In [142]:
surfing_activities

['surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 'surfing',
 ...]

In [143]:
# Lo que he hecho ha sido reemplazar los elementos que tenían la palabra surfing y dejarlos en "surfing" simplemente
# después he comprobado que se ha sobrescrito mi df.

# Ahora voy a hacer lo mismo con las que contengan Fish ---> Fishing

In [284]:
df['Activity'] = df['Activity'].str.replace('fish', 'fishing', case=False)

df['Activity'] = df['Activity'].str.replace('fishinginging', 'fishing', case=False)

df['Activity'].value_counts()

# Y ahora lo mismo con "Swim...etc" ---> Swimming


df['Activity'] = df['Activity'].str.replace('swim', 'swimming', case=False)

df['Activity'] = df['Activity'].str.replace('swimmingming', 'swimming', case=False)

df['Activity'].value_counts()

fishinging                                                                                                             1198
surfing                                                                                                                1124
swimming                                                                                                                847
none                                                                                                                    520
bathing                                                                                                                 157
                                                                                                                       ...
lobster diving using scuba                                                                                                1
attacked shark with fists                                                                                                 1
diving for sand dollars                                                                                                   1
killing a shark                                                                                                           1
man fell overboard from ship. those on board threw a rope to him with a wooden block & were pulling him to the ship       1
Name: Activity, Length: 1086, dtype: int64

**Columna 9 - Name**

In [145]:
df['Name']

0                 Julie Wolfe
1             Adyson McNeely
2                 John Denges
3                        male
4              Gustavo Ramos
                ...
6172    males (wearing armor)
6173             Indian slave
6174                     male
6175                    males
6176                     male
Name: Name, Length: 6176, dtype: object

In [146]:
# veo que en la columna de nombres, aparecen muchas veces las palabras male o female, y no deberían estar ahí.

# vamos a filtrarlas y a cambiarlas por "unknown name"

In [147]:
# Filtrar la columna "Name"
filtro = df['Name'].str.contains('male|female', case=False)

filtro

0       False
1       False
2       False
3        True
4       False
        ...
6172     True
6173    False
6174     True
6175     True
6176     True
Name: Name, Length: 6176, dtype: object

In [148]:
# Convertir la columna filtrada en una lista
name_list = df.loc[filtro, 'Name'].tolist()

# Imprimir la lista
print(name_list)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
# me da error creo que porque hay algunos valores nulos

In [149]:

# Filtrar la columna "Name"
filtro = df['Name'].str.contains('male|female', case=False).fillna(False)

# Convertir la columna filtrada en una lista
name_list = df.loc[filtro, 'Name'].tolist()

# Imprimir la lista
print(name_list)

['male', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male', 'female x 2', 'female', 'female', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male', 'female', 'female', 'male', 'male', 'female', 'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male', 'female', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'female', 'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'female', 'female', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male, a tourist from Germany', 'male', 'male', 'male', 'female', 'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male', '2 males', 'male', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'female', 'female', 'male', 'male', 'female diver', 'male', 'male', 'male', 'male', 'male', 'Russian male', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male', 'Japanese female', 'male', 'male', 'male', 'male', 'male', 'male', 'a male from Miami', 'male', 'male', 'male', 'male', 'female', 'male', 'male', 'a German tourist (male)', 'male', 'male', 'male', 'male', 'male', ' male 2', 'male 1', 'male', 'male', ' male', 'male', 'a male from Waikato', 'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male, a tourist from Venezuela', 'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'female', 'male', 'female', 'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male', 'female', 'female', 'Russian male', 'female', 'French female', 'male', 'male', 'male', 'male', 'male', 'male', 'Yeung Tam-ho (female)', 'male', 'male', 'male', 'German male', 'male, an American tourist', 'male', 'Edward Malek', 'Russian male', 'male', 'male', 'male', 'male', 'female', 'male', 'Ko Bong-ae (female)', 'female', 'female', ' male', 'male from pleasure craft Press On Regardless', 'male', 'male', 'male', 'male', 'male from Tampa', 'female', 'male', 'white male', 'black male', 'male', 'male', 'male, a teen', 'female, possibly victim of a small plane crash in the vicinity', 'female', 'male', 'male', 'male', 'A male from Muitoa', 'male', 'male', 'male', 'elderly male', 'male', 'male', 'Mexican male', 'Robin Buckley (male)', 'male', 'Indian male', 'Indian male', 'female', 'male', 'male', 'Ho-Sin-Ming (male)', 'Yee Wing Ping (male)', 'male', 'American male', 'male', 'black male', 'male', 'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male', 'black male', 'Ridel Pogias (female)', 'Dakel (female)', 'Memilana Bokset (female - rescuer)', 'Loding Etwat (female)', 'male', 'Rae Marion Keightley (female)', 'male', 'Dabek Orou, male', 'male', 'Lohia Raho, a male', 'male', 'male', '3 males', 'male', 'Soso, a male', 'male', 'Kambagil, male', 'male', 'male', 'male', 'male', 'male', 'Tale Meve (female)', 'Siara Ikui, female', 'Mereseini Wati, female', '2 males', 'an Indian male', 'Au Kila (male)', '2 males', 'male', 'infant, male ', 'Tarara, a male', 'male', 'female', 'male from Lelepa Island', 'male', 'male', 'male', 'African child (male)', 'male', 'male', 'male', 'male, airline pilot', 'male', '3 males', 'male', 'male, Fijian cook of vessel Andi Tui Lomaloma', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', ' Toapindak (male)', '2 males admitted to Memorial Hospital emergency room this month', 'male', 'male', 'male', 'male', 'male', 'male x 3', 'young Zulu male', 'male', 'Japanese male, one of crew of pearl culture survey ship', 'male,  from Laluoro', 'male', 'male', '2 males', 'male', 'male', 'male', 'Lidua, a male', 'Zulu male', '2 males', 'male', 'male, a native constable', 'male', 'male', 'male', 'male', 'male', 'Kiaploki, a male', 'male, a Pan American pilot wearing a flourescent bathing suit', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male, a US soldier', 'male', 'male', 'male', 'male', 'male', 'male', '2 males', 'Abdul Imam (male)', 'male', '2 males', 'male', 'male', 'male', 'Khodadad, (male)', 'male', 'a male from the Second Seabee Battalion', 'male', 'male, a member of the crew', 'males', ' 2 males', ' 2 males', 'male', 'male', 'male', '2 males', 'male', 'male', 'male', 'male', 'male from the Kormoran', 'male', 'male', 'male', 'Indian female', 'female', 'male', 'a male from Garvakala', 'male', 'male', 'aboriginal male', 'males', 'black male', '2 males', 'male', 'male, one of the crew of the Penang', 'young male', 'aboriginal male', 'male', 'male, a spectator', 'male', 'Zulu male', '2 males', 'male', '2 males', 'male', 'male', 'male', 'Asena (female)', 'male (civilian)', 'female', 'male', 'male', 'male', 'male', 'males, shark fishermen', 'male', 'male', 'female', 'male x 2', 'male', 'male', 'male', 'male', 'male', ' male', 'male', 'male', 'male', 'male', 'male', 'aboriginal male', 'male', 'male', 'male', 'male, Territorial Surveyor', 'male', 'male', 'female', 'Zulu male', '6 males', 'female', 'adult female (Mrs. Avery?)', 'males', 'male', 'male', 'male', 'male', 'Remains of male found in shark', 'female', 'female', 'male', 'Indian female', 'male', 'male', 'male', 'male, a "youth"', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male, a Japanese fisherman', 'male from the lugger Teazer', 'male, a Japanese fisherman', 'female', 'female', 'male', '2 males', 'male', 'male', 'male', 'male', 'male', 'male', 'males', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'Maori male', 'male', 'male', 'Swedish male, crewman from the Harry Mundahl', 'male', 'male', 'male', 'male', '2 males', 'male', 'male', 'male', 'male', '2 males', 'male', 'male', 'male', 'male', 'male, a cook', 'adult male', 'male', 'male', 'male', 'male', 'male', 'male + 20', 'a male & a female', '2 males', 'female', 'female', 'male', 'male', 'male', 'male, aboriginal diver', 'Aboriginal male', 'male', 'male', 'male', 'male', 'young aboriginal male', 'males', 'male', 'male', 'male', 'male', 'male', '2 males, aborigines', 'male, a Hindu shopkeeper', 'male, a Hindu confectioner', 'male', 'male', 'male', 'male', 'male', 'males x 5', 'male from the White Wave', 'male', 'male from the whaler Albatross', 'males', 'male', 'male, from the ship Speedwell', 'male', 'male', 'male from the ship James F. Bradwell', 'male, carpenter from the ship Fair Hope', 'male', 'male', 'male', 'male', 'male', '2 males', 'Mr. Valdes & 2 males', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'Mr.Johnson (male)', 'adult male, a sailor', 'male', 'Aboriginal female', 'male', 'male', 'male', 'Male', '"Amphibious Jack" male', 'male', 'male', 'male', 'male', 'male', 'males x 4', 'male', 'male', 'male', 'male', 'male', 'female, an Australian aboriginal', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'males (wearing armor)', 'male', 'males', 'male']

In [ ]:
# de esta manera corregimos el error ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
# ahora vamos a sustituir todos estos valores por "unknown name"

In [150]:
df.loc[df['Name'].isin(name_list), 'Name'] = 'unknown name'

In [151]:
df['Name']

0           Julie Wolfe
1       Adyson McNeely
2           John Denges
3          unknown name
4        Gustavo Ramos
             ...
6172       unknown name
6173       Indian slave
6174       unknown name
6175       unknown name
6176       unknown name
Name: Name, Length: 6176, dtype: object

In [152]:
# Ahora tenemos una columna que contiene nombres, y los que estaban mal ahora muestran 'unknown name'

**Columna 10 - Sex**

In [156]:
sex_list = df['Sex'].tolist()

# Imprimir la lista
print(sex_list)

KeyError: 'Sex'

In [157]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [ ]:
# Veo que hay algunos nombres de columnas que tienen espacios en sus laterales. Voy a corregirlos

In [159]:
# Creo un diccionario con los nuevos nombres de las columnas usando un bucle for
new_columns = {col: col.strip() for col in df.columns}

# Renombrar las columnas del DataFrame
df = df.rename(columns=new_columns)

In [160]:
df.columns # ahora está corregido

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [161]:
sex_list = df['Sex'].tolist()

print(sex_list)

['F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'F', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', nan, 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'F', 'F', 'M', nan, 'F', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', nan, 'M', 'F', 'M', 'F', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F', nan, 'M', 'M', 'M ', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', 'M', 'F', nan, 'F', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', nan, 'M', 'M', nan, nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'M', nan, 'F', 'F', 'M', 'M', nan, 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M ', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'lli', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'F', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'F', 'M', 'F', 'F', 'F', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', nan, nan, nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'F', 'M', 'F', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, nan, 'F', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F', 'F', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', nan, 'F', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'F', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'M', nan, nan, nan, 'M', 'M', 'F', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', nan, 'M', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', nan, nan, 'M', 'F', 'M', 'F', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'F', nan, 'M', 'M', nan, 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', nan, nan, 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', nan, 'M', 'F', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'F', 'F', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', nan, 'M', nan, nan, nan, nan, 'M', 'F', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', nan, 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', nan, 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M', nan, 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, nan, 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', nan, nan, 'M', nan, nan, nan, nan, nan, 'F', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', nan, 'M', nan, 'F', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, nan, 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', nan, nan, nan, 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'F', nan, 'M', 'M', 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, nan, 'F', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', nan, 'M', 'M', 'M', 'F', nan, 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'F', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', nan, nan, 'M', 'M', 'M', nan, nan, nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, nan, nan, 'M', 'M', nan, 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', nan, 'M', nan, 'M', 'F', nan, 'M', nan, nan, nan, nan, 'M', 'F', nan, 'M', 'F', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, nan, nan, 'M', nan, 'M', nan, 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', nan, 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', nan, nan, 'M', 'M', 'M', 'M', 'M', 'M', 

In [ ]:
# Veo que hay varios nan ("Not a Number"). 
# Podría revisar los nombres y determinar si es male o female, pero no soy nadie para definir el género de otra persona.

**Columna 11 - Species**

In [176]:
df['Species'].value_counts()

White shark                                           162
Shark involvement prior to death was not confirmed    105
Invalid                                               101
Shark involvement not confirmed                        88
Tiger shark                                            70
                                                     ...
A 2' shark was seen in the area by witnesses            1
White shark, 3.5 m [11.5']  male                        1
60 cm to 90 cm [2' to 3'] shark                         1
100-kg [221-lb] dead blue shark                         1
Possibly white sharks                                   1
Name: Species, Length: 1534, dtype: int64

In [178]:
# voy a reemplazar los valores en los que pone 'Shark involvement prior to death was not confirmed' por 'Shark involvement not confirmed'
df['Species'] = df['Species'].replace('Shark involvement prior to death was not confirmed', 'Shark involvement not confirmed')

df['Species'].value_counts()

Shark involvement not confirmed                 193
White shark                                     162
Invalid                                         101
Tiger shark                                      70
Shark involvement prior to death unconfirmed     68
                                               ...
A 2' shark was seen in the area by witnesses      1
White shark, 3.5 m [11.5']  male                  1
60 cm to 90 cm [2' to 3'] shark                   1
100-kg [221-lb] dead blue shark                   1
Possibly white sharks                             1
Name: Species, Length: 1533, dtype: int64

In [180]:
df['Species'] = df['Species'].replace('Shark involvement prior to death unconfirmed', 'Shark involvement not confirmed')

df['Species'].value_counts()

Shark involvement not confirmed                     261
White shark                                         162
Invalid                                             101
Tiger shark                                          70
Bull shark                                           48
                                                   ...
4.5' to 5' shark                                      1
Caribbean reef shark, 1.2 m to 1.5 m [4' to 5']       1
Dusky shark, 12'                                      1
White shark, 5 m to 6 m [16.5' to 20']                1
Possibly white sharks                                 1
Name: Species, Length: 1532, dtype: int64

In [287]:
# También voy a sustituir los elementos que ponen "White sharks (seguido de algo)" por simplemente "White shark"

df['Species'].fillna(value='0', inplace=True)

# Tengo que rellenar los nulos con 0 para que me deje hacer la conversión

df.loc[df['Species'].str.contains('white', case=False), 'Species'] = 'White Shark'

df['Species'].value_counts()

0                                                                                                                                    2713
White Shark                                                                                                                           664
Shark involvement not confirmed                                                                                                       256
Invalid                                                                                                                               101
Tiger shark                                                                                                                            70
                                                                                                                                     ...
2' to 3.5' shark                                                                                                                        1
12' sandtiger shark                                                                                                                     1
Possibly  a blacktip or spinner shark                                                                                                   1
3' shark, possibly  a blacktip or spinner shark                                                                                         1
"The fish was harpooned, dried, and presented to the sailor, who went round Europe exhibiting it  It was said to be 20 feet long.       1
Name: Species, Length: 1198, dtype: int64

In [289]:
# Ahora sustituiré todos los demás por "Undetermined shark"

df.loc[~df['Species'].isin(['Shark involvement not confirmed', 'White shark', 'Invalid', 'Tiger shark', 'Bull shark']), 'Species'] = 'Undetermined shark'

df['Species'].value_counts()

Undetermined shark                 5655
Shark involvement not confirmed     256
Invalid                             101
Tiger shark                          70
Bull shark                           48
Name: Species, dtype: int64

**Columna 12 - Investigator or Source**

In [184]:
df['Investigator or Source'].value_counts()

C. Moore, GSAF                     102
C. Creswell, GSAF                   91
S. Petersohn, GSAF                  82
R. Collier                          55
R. Collier, GSAF                    48
                                  ...
Jupiter Courier, 11/20/1996          1
R. Collier, p.158                    1
The Advertiser, 12/30/1996, p.3      1
The Advertiser, 1/3/1997, p.7        1
Waverly Library                      1
Name: Investigator or Source, Length: 4877, dtype: int64

In [185]:
# Veo que hay elementos con valores numéricos. Voy a borrar esos valores numéricos

import re

df['Investigator or Source'] = df['Investigator or Source'].replace(to_replace=r'\d+', value='', regex=True)

In [186]:
# Compruebo que se han borrado.

print(df['Investigator or Source'].unique())

['R. Collier, GSAF' 'K.McMurray, TrackingSharks.com' 'B. Myatt, GSAF' ...
 'J. Castro' 'Perils mentioned by Pliny the Elder ( A.D. to  A.D.)'
 'Waverly Library']

**Columna 14 - href formula**

In [187]:
# Esto es una columna con enlaces

# Voy a leerlos por si me dan alguna información interesante acerca del dataframe

In [188]:
df['href formula'] # De las que aparecen aquí, ningún enlace funciona

0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6172    http://sharkattackfile.net/spreadsheets/pdf_di...
6173    http://sharkattackfile.net/spreadsheets/pdf_di...
6174    http://sharkattackfile.net/spreadsheets/pdf_di...
6175    http://sharkattackfile.net/spreadsheets/pdf_di...
6176    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href formula, Length: 6176, dtype: object

In [189]:
df['href formula'].value_counts()

http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf     2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf              2
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf                2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.02-Alcorn.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.09.a-Anderson.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.09.b-Watley.pdf                1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.10-Alexander.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf    1
Name: href formula, Length: 6164, dtype: int64

In [290]:
# Leo los enlaces por si contienen información útil acerca de los ataques

**Columna 15 - href**

In [190]:
df['href'].value_counts()

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                   4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf            3
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf              2
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf                2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.04.09-boy.pdf                     1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.04.14-Metz.pdf                    1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.05.07.a-diver.pdf                 1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.05.07.b-Adam.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf    1
Name: href, Length: 6159, dtype: int64

In [ ]:
# He comprobado que las columnas Href formula y Href no son iguales, ya que contienen algunos enlaces diferentes.
# Por ahora las voy a dejar así

**Columna 16 y 17 - Case Number.1 y Case Number.2**

In [192]:
igualdad = df['Case Number.1'].equals(df['Case Number.2'])

igualdad

False

In [194]:
diferentes = df.loc[df['Case Number.1'] != df['Case Number.2']]
display(diferentes)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
34,35,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,surfing,Ross Spowart,M,...,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0,NaN,NaN
117,118,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",sup,Rolf Geyling,M,...,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017/07.20.a,2017.07.20.a,6186.0,NaN,NaN
144,144,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",snorkeling,Andres Rozada,M,...,NaN,J. Rozada,2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.06,2017.05.06,6159.0,NaN,NaN
217,217,16-Sep-2016,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,surfing,unknown name,M,...,2 m shark,"The Age, //",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,6086.0,NaN,NaN
314,314,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,spearfishing,Keith Love,M,...,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24.b,2016.01.24.b,5989.0,NaN,NaN
334,334,07-Nov-2015,2015.0,Invalid,USA,Florida,"Paradise Beach, Melbourne, Brevard County",surfing,Ryla Underwood,F,...,Shark involvement not confirmed,"FoxOrlando, //",2015.11.07-Underwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.11.07,2015.12.23,5969.0,NaN,NaN
339,339,28-Oct-2015,2015.0,Unprovoked,USA,Hawaii,"Malaka, Oahu",body boarding,Raymond Senensi,M,...,NaN,"Star Advertiser, //",2015.10.28-Senensi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.10.28,2015.10.28.a,5964.0,NaN,NaN
560,560,04-May-2014,2014.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Simonstown,diving,NaN,NaN,...,Cow shark,"Sunday Times, //",2015.05.04-CowShark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.04,2014.05.04,5743.0,NaN,NaN
3522,3522,05-Jul-1967,1967.0,Unprovoked,TURKEY,Mugla Province,Kucukada Island,spearfishing,Gungor Guven,M,...,NaN,"C. Moore, GSAF",1967.07.05-Guven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1967/07.05,1967.07.05,2781.0,NaN,NaN
3795,3795,30-Aug-1962,1962.0,Unprovoked,TURKEY,Antalya Province,Ucagiz,none,Occupant: Hasan Olta,M,...,NaN,"C.Moore, GSAF",1962.08.30.b-pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.08.30.b,"1962,08.30.b",2508.0,NaN,NaN
3880,3880,Reported 06-Sep-1961,1961.0,Provoked,ITALY,Venice Province,Chioggia,fishing,Pollione Perrini & Fioravante Perini,M,...,1 m shark,"C. Moore, GSAF",1961.09.06.R-Chioggia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"1961.09,06.R",1961.09.02.R,2423.0,NaN,NaN
4403,4403,05-Aug-1952,1952.0,Provoked,ITALY,Teramo,Giulianova,fishing,Vittorio Speca,NaN,...,2m shark,"C. Moore, GSAF",1952.08.05-Speca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,1952.08.05,1900.0,NaN,NaN
4425,4425,\n1951.12.15.R,1951.0,Invalid,MOZAMBIQUE,Sofala Province,Beira,swimming,Antonio De Almeida Pinto,M,...,Invalid,GSAF,1951.12.15.R-Pinto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1951.12.15.R,1851.12.15.R,1878.0,NaN,NaN
5275,5275,Reported to have taken place in 1919,1919.0,Unprovoked,ITALY,NaN,Savona,fishing,NaN,M,...,13' shark,"C. Moore, GSAF",1919.00.00.R-Savona.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.00.00.R,1900.00.00.R,1028.0,NaN,NaN
5358,5358,Reported 10-Jul-1913,1913.0,Unprovoked,COSTA RICA,NaN,Port Limon,swimming,August Schulke & Karl Schafer,M,...,NaN,"The Potter Enterprise, //",1913.07.10.R-PortLimon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.17.10.R,1913.07.10.R,945.0,NaN,NaN
5386,5386,Reported 31-Jul-1911,1911.0,Unprovoked,SPAIN,Málaga,Ceuta,bathing,a soldier,M,...,NaN,C. Moore. GSAF,1911.07.31.R-Ceuta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1911.07.31.T,1911.07.31.R,917.0,NaN,NaN
5777,5777,Reported 28-Apr-1884,1884.0,Unprovoked,BRAZIL,NaN,Bahia,fell overboard from the steamship chala,unknown name,M,...,NaN,"Pittsburgh Post Gazette, //",1884.04.28.R-ChalaCook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1884.04.28.R,1884.04.38.R,526.0,NaN,NaN
5883,5883,Reported 18-Jun- 1874,1874.0,Unprovoked,MEXICO,Veracruz,"Tlacotalpan, Vera Cruz",bathing,a servant of General Diaz,M,...,NaN,"The Times-Picayune, //",1874.06.18.R-DiazServant.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.18.R,1876.06.18.R,420.0,NaN,NaN
6009,6009,29-Apr-1853,1853.0,Unprovoked,GREECE,Corfu,NaN,swimming,Hanson,M,...,234-lb shark,"South Australian Register, //",1853.04.29-Hanson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.04.29,"1853,94.29",294.0,NaN,NaN
6122,6122,Reported 01-May-1808,1808.0,Unprovoked,ANTIGUA,NaN,Falmouth Harbour,none,NaN,NaN,...,NaN,"London Observer, //",1808.05.01.R-Antigua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1808.05.01.R,1808.06.01.R,181.0,NaN,NaN

In [197]:
# Aquí pasa lo mismo, parecen columnas iguales, pero tienen algunos elementos diferentes.
# Por ahora la voy a dejar así.

**Columna 18 - original order**

In [198]:
df['original order'].value_counts()

569.0     2
6303.0    1
2188.0    1
2179.0    1
2180.0    1
         ..
4246.0    1
4247.0    1
4248.0    1
4249.0    1
127.0     1
Name: original order, Length: 6175, dtype: int64

In [ ]:
# Esta columna contiene elementos de tipo integer, casi todos diferentes unos de otros.
# No sé lo que significan. Tengo la sensación de que puede proporcionar información sobre la forma en que se recopilaron los datos y cómo se pueden interpretar

**Columnas 22 y 23 - Unnamed: 22 y Unnamed: 23**

In [200]:
df['Unnamed: 22']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6172    NaN
6173    NaN
6174    NaN
6175    NaN
6176    NaN
Name: Unnamed: 22, Length: 6176, dtype: object

In [201]:
if df['Unnamed: 22'].equals(df['Unnamed: 23']):
    print("Las columnas son iguales")
else:
    print("Las columnas son diferentes")

Las columnas son diferentes

In [202]:
# Veo que son diferentes, pero como la mayoría de valores son Nan, voy a cambiarlos por 0.

In [203]:
df['Unnamed: 22'] = 0
df['Unnamed: 23'] = 0

In [204]:
df['Unnamed: 22']

0       0
1       0
2       0
3       0
4       0
       ..
6172    0
6173    0
6174    0
6175    0
6176    0
Name: Unnamed: 22, Length: 6176, dtype: int64

In [205]:
# Comprobado que se han sustituido por 0.

**REVISIÓN GENERAL DEL DATAFRAME**

In [206]:
# Ahora mismo el dataframe quedaría así:

In [208]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,1,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0
1,2,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,0,0
2,3,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0
3,4,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,unknown name,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0
4,5,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0

In [224]:
# Limpio la columna de países de espacios y los cambio a minusculas
df['Country'] = df['Country'].str.lower().str.strip()

# Elimino filas con valores nulos
df = df.dropna(subset=['Country'])

# Convertir la columna en tipo de datos categóricos
df['Country'] = df['Country'].astype('category')

# Ordeno el DataFrame por la columna "Pais"
df_ordenado = df.sort_values(by='Country')

# Agrupo las filas por país
df_agrupado = df_ordenado.groupby('Country')

/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_90093/785353727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].str.lower().str.strip()

In [223]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,1,25-Jun-2018,2018.0,Unprovoked,usa,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0
1,2,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,0,0
2,3,09-Jun-2018,2018.0,Invalid,usa,Hawaii,"Habush, Oahu",surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0
3,4,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,Arrawarra Headland,surfing,unknown name,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0
4,5,04-Jun-2018,2018.0,Provoked,mexico,Colima,La Ticla,free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0

In [225]:
# No consigo agruparlas por paises.

In [226]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**Columna 11 - Injury**

In [228]:
df['Injury'].value_counts()

FATAL                                                            748
Survived                                                          93
Foot bitten                                                       83
No injury                                                         81
Leg bitten                                                        71
                                                                ...
Ear lacerated, cuts on scalp, back, arm & shoulder                 1
Right ankle & heel  lacerated                                      1
Right thigh & buttock bitten                                       1
Five cuts on his heel                                              1
Aboriginal rock carving depicts man being attacked by a shark      1
Name: Injury, Length: 3671, dtype: int64

In [229]:
# Voy a reducirlos a dos categorias: Survived y not survived

In [231]:
df['Injury'] = df['Injury'].replace('FATAL', 'Not Survived')
df['Injury'].value_counts()

Not Survived                                                     748
Survived                                                          93
Foot bitten                                                       83
No injury                                                         81
Leg bitten                                                        71
                                                                ...
Ear lacerated, cuts on scalp, back, arm & shoulder                 1
Right ankle & heel  lacerated                                      1
Right thigh & buttock bitten                                       1
Five cuts on his heel                                              1
Aboriginal rock carving depicts man being attacked by a shark      1
Name: Injury, Length: 3671, dtype: int64

In [233]:
mask = df['Injury'] != 'Not Survived'
df['Injury'] = np.where(mask, 'Survived', 'Not Survived')
df['Injury'].value_counts()

Survived        5382
Not Survived     748
Name: Injury, dtype: int64

In [235]:
# De esta manera lo hacemos más sencillo, ya que teníamos mucha información diferente, y que no aclaraba exactamente si había sobrevivido o no.
# También le cambiaremos el nombre a la columna, y le pondremos Survived or Not

In [236]:
df = df.rename(columns={'Injury': 'Survived or Not'})

In [237]:
df['Survived or Not']

0           Survived
1           Survived
2           Survived
3           Survived
4           Survived
            ...
6170        Survived
6172        Survived
6173    Not Survived
6174        Survived
6176        Survived
Name: Survived or Not, Length: 6130, dtype: object

In [238]:
# comprobado que se ha cambiado el nombre de la columna

**Columna 12 - Fatal Y/N**

In [240]:
df['Fatal (Y/N)']

0             N
1             N
2             N
3             N
4             N
         ...
6170          Y
6172    UNKNOWN
6173          Y
6174          N
6176          N
Name: Fatal (Y/N), Length: 6130, dtype: object

In [ ]:
# Como ya he añadido la fatalidad de los incidentes en la columna anterior, esta la voy a convertir en ceros.

In [241]:
df.loc[:, 'Fatal (Y/N)'] = 0

In [242]:
df['Fatal (Y/N)']

0       0
1       0
2       0
3       0
4       0
       ..
6170    0
6172    0
6173    0
6174    0
6176    0
Name: Fatal (Y/N), Length: 6130, dtype: int64

**Columna 13 - Time**

In [245]:
df['Time'].value_counts()

Afternoon      182
11h00          127
Morning        120
12h00          109
15h00          108
              ...
00h30            1
14h37            1
10h07            1
13h53            1
19h00-20h00      1
Name: Time, Length: 365, dtype: int64

In [247]:
df['Time'].tolist()

['18h00',
 '14h00  -15h00',
 '07h45',
 nan,
 nan,
 nan,
 'Late afternoon',
 nan,
 '17h00',
 '14h00',
 'Morning',
 nan,
 '15h00',
 '08h15',
 nan,
 '11h00',
 '10h30',
 nan,
 '10h40',
 '16h50',
 '07h00',
 '09h30',
 'Afternoon',
 '21h50',
 '09h40',
 nan,
 nan,
 nan,
 nan,
 '08h00',
 '09h30',
 nan,
 '17h00',
 '18h00',
 '15h00',
 '09h30',
 '17h35',
 '15h30',
 '07h30',
 nan,
 '19h00, Dusk',
 'Night',
 '16h00',
 '18h00',
 nan,
 nan,
 nan,
 '08h00',
 '15h30',
 '15h01',
 nan,
 'Late afternoon',
 nan,
 '18h00',
 '12h00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '13h45',
 'Late afternoon',
 '16h00',
 '23h30',
 nan,
 '09h00',
 '15h00',
 'Afternoon',
 '17h00',
 '08h00',
 'Afternoon',
 '09h00',
 '14h30',
 '18h30',
 '12h30',
 nan,
 'Morning',
 '18h00',
 '15h30',
 '14h00',
 'Morning',
 nan,
 '16h30',
 'Afternoon',
 'Night',
 nan,
 '18h45',
 '15h00',
 '06h00',
 nan,
 'Morning',
 '10h00',
 nan,
 nan,
 '10h44',
 '10h30',
 '13h19',
 'Midday',
 nan,
 '10h00',
 '15h00',
 '13h30',
 nan,
 '23h30',
 '10h45',
 '18h30',
 '15h00',
 'Afternoon',
 nan,
 nan,
 '17h00',
 nan,
 'Afternoon',
 '12h30',
 nan,
 '11h20',
 '07h45',
 '18h30',
 '11h45',
 '11h00',
 '15h30',
 nan,
 '15h00',
 nan,
 nan,
 'Morning',
 nan,
 '10h00',
 '12h00',
 nan,
 nan,
 '08h30',
 '15h45',
 '10h00',
 nan,
 nan,
 'Shortly before 12h00',
 nan,
 'Morning',
 nan,
 'Morning',
 nan,
 '17h00',
 '14h30',
 '17h34',
 '17h10',
 '11h00',
 '11h15',
 '14h00',
 nan,
 '16h00',
 '08h50',
 'Afternoon',
 '16h00',
 '09h00',
 '13h30',
 '13h45',
 nan,
 '16h00',
 '17h45',
 '17h00',
 nan,
 '13h00',
 'Afternoon',
 '15h00',
 '10h00',
 '18h30',
 '14h30',
 nan,
 nan,
 'Morning',
 'Morning',
 '09h30',
 '10h20',
 '13h30',
 'Afternoon',
 nan,
 nan,
 nan,
 '13h20',
 '14h00',
 '12h00',
 '13h30',
 'Morning',
 '07h30',
 nan,
 '12h30',
 '18h00',
 '17h00',
 'Morning',
 '07h00',
 '09h30',
 nan,
 'Afternoon',
 '02h00',
 '09h00',
 '11h00',
 '10h30',
 'Afternoon',
 'Afternoon',
 '07h30',
 '17h00',
 '18h00',
 '09h50',
 nan,
 '10h30',
 '16h00',
 '11h30',
 '17h30',
 '9h00',
 '13h00',
 '11h00',
 '10h43',
 'After noon',
 nan,
 nan,
 nan,
 '15h15',
 '14h30',
 '15h40',
 'Late afternoon',
 'Late afternoon',
 nan,
 nan,
 nan,
 '15h00',
 '14h00',
 '17h00',
 '16h00',
 nan,
 '16h30',
 nan,
 '11h30',
 nan,
 nan,
 nan,
 '12h00',
 '19h05',
 nan,
 nan,
 'After noon',
 nan,
 '1300',
 '11h00',
 '17h00',
 nan,
 nan,
 nan,
 nan,
 '10h00',
 nan,
 '14h30 / 15h30',
 '22h00',
 '16h20',
 '14h34',
 '11h00',
 nan,
 '15h25',
 '14h55',
 '06h00',
 nan,
 '17h30',
 '15h00',
 '11h30',
 '08h30',
 '11h30',
 'Morning',
 nan,
 'Afternoon',
 '16h00',
 '16h00',
 '15h45',
 '12h00',
 '18h00',
 '17h46',
 'Morning ',
 '13h20',
 '15h49',
 'Afternoon',
 '07h00',
 '17h30',
 '08h00',
 '12h00',
 'Morning',
 'Morning',
 nan,
 '10h45',
 nan,
 nan,
 nan,
 '11h00',
 '19h00',
 nan,
 '11h00',
 nan,
 'Morning',
 '13h30',
 'Afternoon',
 'Afternoon',
 'Midnight',
 nan,
 '19h00',
 '16h00',
 '15h00',
 nan,
 '12h30',
 '13h20',
 'Late afternoon',
 nan,
 nan,
 '14h00',
 '11h30',
 '09h30 / 10h00',
 nan,
 'Morning',
 nan,
 'Afternoon',
 '11h30',
 'Morning',
 nan,
 'Morning',
 '07h00',
 nan,
 nan,
 '10h30',
 nan,
 'Morning',
 '10h15',
 'Afternoon',
 '11h00',
 nan,
 '18h15',
 '11h00',
 '11h00',
 '14h00',
 '04h00',
 nan,
 '14h50',
 '15h00',
 '14h30',
 '13h50',
 nan,
 '19h20',
 '11h30',
 '11h00',
 '16h20',
 '10h25',
 nan,
 '16h50',
 '13h00',
 '10h00',
 '08h30',
 '16h20',
 'Afternoon',
 '10h45-11h15',
 '16h45',
 '15h52',
 '12h30',
 '07h30',
 nan,
 '19h00',
 '15h00',
 '06h15',
 '17h30',
 '14h40',
 '11h30',
 '16h00',
 '08h30',
 nan,
 '10h25',
 '10h00',
 '19h45',
 '17h10',
 '12h30',
 '15h30',
 '07h30',
 '11h00',
 '08h00',
 '06h00',
 nan,
 nan,
 '19h00',
 '10h10',
 '10h00',
 nan,
 nan,
 nan,
 nan,
 '08h45',
 nan,
 nan,
 nan,
 'Evening',
 '09h00',
 '09h00',
 '12h10',
 nan,
 '18h05',
 '16h00',
 '14h40',
 '19h30',
 '16h00',
 '11h00',
 nan,
 '11h41',
 '12h25',
 '09h30',
 nan,
 'Morning',
 '13h00',
 '17h51',
 '16h12',
 nan,
 '12h45',
 '10h50',
 nan,
 '15h00',
 '15h00',
 '13h45',
 '08h00',
 nan,
 '10h30',
 '14h15',
 nan,
 '15h00',
 '15h00',
 '13h00',
 '09h00',
 '16h30',
 '09h45',
 '11h00',
 nan,
 '09h00',
 '07h30',
 'Afternoon',
 nan,
 '11h00',
 nan,
 nan,
 '11h45',
 '10h00',
 'Morning',
 '10h20',
 nan,
 nan,
 '18h30',
 '10h00',
 '06h45',
 nan,
 '05h00',
 '03h30',
 nan,
 'Afternoon',
 nan,
 nan,
 '13h45',
 nan,
 'Night',
 '16h00',
 '08h00',
 'Afternoon',
 'Morning',
 'Morning',
 nan,
 'Morning',
 '11h30',
 'Morning',
 nan,
 '11h30',
 '07h00',
 'Sometime between 06h00 & 08hoo',
 nan,
 nan,
 nan,
 '13h00',
 '13h30',
 '06h30',
 '16h30',
 '11h00',
 '18h00',
 '10h00',
 '08h00',
 nan,
 '11h15',
 '06h30',
 nan,
 '15h30',
 '17h20',
 '11h30',
 'Afternoon',
 '11h00',
 '14h00',
 '11h30',
 '17h30',
 '11h00',
 '11h30',
 nan,
 '18h45',
 '10h45',
 '13h00',
 '18h00',
 '20h00',
 nan,
 '16h40',
 nan,
 '16h18',
 nan,
 nan,
 nan,
 '15h00',
 nan,
 nan,
 nan,
 '11h10',
 nan,
 nan,
 '13h30',
 'Afternoon',
 '14h00',
 nan,
 nan,
 '13h00',
 '14h00',
 nan,
 '15h00',
 'Early afternoon',
 nan,
 '17h50',
 '14h30',
 'Night',
 nan,
 '14h00',
 '09h30',
 '07h00 - 08h00',
 '18h15-18h30',
 nan,
 '13h00',
 '17h01',
 '17h00',
 nan,
 nan,
 '17h00',
 '09h45',
 'Afternoon',
 'Afternoon',
 '13h30',
 'Morning',
 nan,
 nan,
 'Morning',
 nan,
 '11h30',
 '09h30',
 '11h00',
 nan,
 nan,
 '15h00',
 nan,
 '15h00',
 nan,
 '15h30',
 '09h57',
 nan,
 'Morning',
 '13h50',
 '13h30',
 '08h20',
 '13h30',
 '15h00',
 nan,
 nan,
 '17h58',
 'Morning',
 '17h00',
 '18h00',
 nan,
 nan,
 '16h00',
 'Night',
 '12h00',
 nan,
 '20h30',
 nan,
 nan,
 nan,
 nan,
 nan,
 '11h00',
 '08h45',
 nan,
 '08h00',
 '14h30',
 '18h15',
 '09h00',
 '14h00',
 '13h00',
 '09h00',
 '10h30',
 '15h00',
 '11h00',
 'Afternoon',
 nan,
 '15h19',
 'Afternoon',
 '16h30',
 '10h55',
 '18h15',
 '15h55',
 '11h00',
 'Late afternoon',
 '11h30',
 '10h30',
 '08h45',
 '15h30',
 '10h00',
 '11h30',
 '10h30',
 '13h00',
 'Morning',
 '15h30',
 '13h00',
 nan,
 '16h00',
 '16h00',
 '13h00',
 nan,
 nan,
 '12h00',
 nan,
 '23h00',
 nan,
 '20h30',
 '17h00',
 '15h00',
 '13h00',
 '12h40',
 '16h30',
 '13h55',
 '17h30',
 nan,
 '15h00',
 '08h45',
 nan,
 '16h05',
 '11h00',
 '14h10',
 '16h45',
 '11h15',
 '13h20',
 '14h30',
 nan,
 '14h15',
 nan,
 '15h20',
 nan,
 nan,
 nan,
 nan,
 '15h30',
 nan,
 '12h45',
 '12h50',
 '14h45',
 'Morning',
 nan,
 'Afternoon',
 nan,
 '16h00',
 nan,
 'Afternoon',
 nan,
 'Evening',
 '12h00',
 nan,
 '08h20',
 '11h15',
 nan,
 '13h40',
 '14h00',
 '10h30',
 nan,
 '13h30',
 nan,
 '12h00',
 nan,
 nan,
 '08h30',
 nan,
 nan,
 nan,
 nan,
 '09h00',
 nan,
 '09h00',
 '09h00',
 nan,
 nan,
 '13h24',
 '18h00',
 '18h00',
 '14h00',
 '09h00 - 09h30',
 nan,
 nan,
 nan,
 nan,
 '16h30',
 nan,
 '10h00',
 '14h00',
 '12h45',
 '10h45',
 nan,
 '0830',
 '13h20',
 '16h45',
 nan,
 '09h40',
 '14h50',
 '11h40',
 '17h30',
 '08h30',
 '08h10',
 '12h00',
 '15h56',
 '11h00',
 nan,
 '10h30',
 '07h30',
 '17h00',
 nan,
 '18h30',
 '12h00',
 '16h30',
 'Afternoon',
 '15h00',
 nan,
 '14h20',
 '12h00',
 'Afternoon',
 'Just before noon',
 '11h30',
 '07h56',
 '18h30',
 '12h00',
 '16h30',
 nan,
 '15h30',
 'Afternoon',
 nan,
 '12h00',
 '1600',
 '17h17',
 nan,
 '06h45',
 '14h40',
 '16h35',
 '15h30',
 '11h45',
 '16h30',
 nan,
 nan,
 '09h05',
 '17h30',
 nan,
 '15h00',
 '08h30',
 '16h30',
 nan,
 '19h00',
 '15h00',
 '09h45',
 nan,
 '16h30',
 '07h15',
 nan,
 '11h00',
 '14h20',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 '13h20',
 'Morning',
 'Morning',
 '14h30',
 nan,
 '19h45',
 '13h30',
 '09h00',
 '15h00',
 'Morning',
 nan,
 '14h30',
 '11h30',
 '07h20',
 '19h28',
 '12h30',
 nan,
 '12h38',
 nan,
 '09h30',
 '14h00',
 '05h50',
 '17h00',
 '15h50',
 '16h00',
 '16h05',
 '19h00',
 '11h30',
 '14h30',
 '13h00',
 nan,
 nan,
 '14h00',
 '16h00',
 nan,
 '12h00',
 '11h05',
 'Afternoon',
 nan,
 nan,
 '16h45',
 '15h40',
 nan,
 '20h00',
 '09h00',
 '18h00',
 'Early morning',
 '18h00',
 '12h30',
 nan,
 'Dawn',
 '05h45',
 nan,
 nan,
 '09h00',
 nan,
 '06h00',
 '13h30',
 'Afternoon',
 nan,
 nan,
 nan,
 'Morning',
 nan,
 nan,
 nan,
 '13h25',
 nan,
 '16h00',
 nan,
 nan,
 '08h10',
 '10h30',
 'Afternoon',
 nan,
 '09h50',
 nan,
 '12h25',
 '15h00',
 '10h00',
 '15h00',
 '15h30',
 nan,
 '11h00',
 '12h20',
 'Afternoon',
 '13h00',
 '13h26',
 '11h00',
 '11h00',
 '19h30',
 '19h00',
 'Morning',
 nan,
 '15h30',
 '09h11',
 nan,
 '17h00',
 '16h00',
 'Evening',
 '15h30',
 'Night',
 '16h30',
 nan,
 '14h00',
 '15h30',
 nan,
 nan,
 'Night',
 '10h00',
 '17h30',
 '17h00',
 '20h30',
 '12h30',
 '17h00',
 nan,
 '14h50',
 '10h30',
 '13h30',
 '10h00',
 '12h00',
 'Afternoon',
 '13h30',
 'Afternoon',
 nan,
 '12h15',
 '17h30',
 nan,
 '14h30',
 nan,
 nan,
 '12h00',
 nan,
 '15h00',
 nan,
 '13h15',
 '12h00',
 'Midday',
 '15h30',
 '11h00',
 '06h30',
 nan,
 nan,
 nan,
 nan,
 '15h00',
 '15h30',
 'Afternoon',
 'Morning',
 'Afternoon',
 nan,
 nan,
 '17h45',
 nan,
 '16h00',
 '13h00',
 nan,
 nan,
 '10h45',
 'Early afternoon',
 '18h30',
 '18h20',
 '10h40',
 'Late afternoon',
 nan,
 nan,
 '12h00',
 nan,
 '15h00',
 '17h00',
 '12h30',
 nan,
 '12h00',
 '15h35',
 'AM',
 '13h51',
 '12h00',
 nan,
 '11h00',
 '10h55',
 '14h55',
 '14h40',
 'Morning',
 nan,
 '13h30',
 'Morning',
 nan,
 'Night',
 '12h30',
 nan,
 '15h20',
 nan,
 'Afternoon',
 nan,
 '08h50',
 'A.M.',
 '13h30',
 nan,
 '15h00',
 '14h30',
 '16h00',
 '16h30',
 nan,
 '17h00',
 nan,
 '12h00',
 nan,
 '12h00',
 '09h00',
 nan,
 nan,
 '09h00',
 '08h05',
 nan,
 '19h00',
 'Late afternoon',
 '08h00',
 '15h00',
 nan,
 ...]

In [251]:
# Limpio valores nulos y caracteres especiales
df['Time'] = df['Time'].fillna('').apply(lambda x: ''.join(e for e in x if e.isalnum()))

In [255]:
df['Time'].tolist()

['18h00',
 '14h0015h00',
 '07h45',
 '',
 '',
 '',
 'Lateafternoon',
 '',
 '17h00',
 '14h00',
 'Morning',
 '',
 '15h00',
 '08h15',
 '',
 '11h00',
 '10h30',
 '',
 '10h40',
 '16h50',
 '07h00',
 '09h30',
 'Afternoon',
 '21h50',
 '09h40',
 '',
 '',
 '',
 '',
 '08h00',
 '09h30',
 '',
 '17h00',
 '18h00',
 '15h00',
 '09h30',
 '17h35',
 '15h30',
 '07h30',
 '',
 '19h00Dusk',
 'Night',
 '16h00',
 '18h00',
 '',
 '',
 '',
 '08h00',
 '15h30',
 '15h01',
 '',
 'Lateafternoon',
 '',
 '18h00',
 '12h00',
 '',
 '',
 '',
 '',
 '',
 '13h45',
 'Lateafternoon',
 '16h00',
 '23h30',
 '',
 '09h00',
 '15h00',
 'Afternoon',
 '17h00',
 '08h00',
 'Afternoon',
 '09h00',
 '14h30',
 '18h30',
 '12h30',
 '',
 'Morning',
 '18h00',
 '15h30',
 '14h00',
 'Morning',
 '',
 '16h30',
 'Afternoon',
 'Night',
 '',
 '18h45',
 '15h00',
 '06h00',
 '',
 'Morning',
 '10h00',
 '',
 '',
 '10h44',
 '10h30',
 '13h19',
 'Midday',
 '',
 '10h00',
 '15h00',
 '13h30',
 '',
 '23h30',
 '10h45',
 '18h30',
 '15h00',
 'Afternoon',
 '',
 '',
 '17h00',
 '',
 'Afternoon',
 '12h30',
 '',
 '11h20',
 '07h45',
 '18h30',
 '11h45',
 '11h00',
 '15h30',
 '',
 '15h00',
 '',
 '',
 'Morning',
 '',
 '10h00',
 '12h00',
 '',
 '',
 '08h30',
 '15h45',
 '10h00',
 '',
 '',
 'Shortlybefore12h00',
 '',
 'Morning',
 '',
 'Morning',
 '',
 '17h00',
 '14h30',
 '17h34',
 '17h10',
 '11h00',
 '11h15',
 '14h00',
 '',
 '16h00',
 '08h50',
 'Afternoon',
 '16h00',
 '09h00',
 '13h30',
 '13h45',
 '',
 '16h00',
 '17h45',
 '17h00',
 '',
 '13h00',
 'Afternoon',
 '15h00',
 '10h00',
 '18h30',
 '14h30',
 '',
 '',
 'Morning',
 'Morning',
 '09h30',
 '10h20',
 '13h30',
 'Afternoon',
 '',
 '',
 '',
 '13h20',
 '14h00',
 '12h00',
 '13h30',
 'Morning',
 '07h30',
 '',
 '12h30',
 '18h00',
 '17h00',
 'Morning',
 '07h00',
 '09h30',
 '',
 'Afternoon',
 '02h00',
 '09h00',
 '11h00',
 '10h30',
 'Afternoon',
 'Afternoon',
 '07h30',
 '17h00',
 '18h00',
 '09h50',
 '',
 '10h30',
 '16h00',
 '11h30',
 '17h30',
 '9h00',
 '13h00',
 '11h00',
 '10h43',
 'Afternoon',
 '',
 '',
 '',
 '15h15',
 '14h30',
 '15h40',
 'Lateafternoon',
 'Lateafternoon',
 '',
 '',
 '',
 '15h00',
 '14h00',
 '17h00',
 '16h00',
 '',
 '16h30',
 '',
 '11h30',
 '',
 '',
 '',
 '12h00',
 '19h05',
 '',
 '',
 'Afternoon',
 '',
 '1300',
 '11h00',
 '17h00',
 '',
 '',
 '',
 '',
 '10h00',
 '',
 '14h3015h30',
 '22h00',
 '16h20',
 '14h34',
 '11h00',
 '',
 '15h25',
 '14h55',
 '06h00',
 '',
 '17h30',
 '15h00',
 '11h30',
 '08h30',
 '11h30',
 'Morning',
 '',
 'Afternoon',
 '16h00',
 '16h00',
 '15h45',
 '12h00',
 '18h00',
 '17h46',
 'Morning',
 '13h20',
 '15h49',
 'Afternoon',
 '07h00',
 '17h30',
 '08h00',
 '12h00',
 'Morning',
 'Morning',
 '',
 '10h45',
 '',
 '',
 '',
 '11h00',
 '19h00',
 '',
 '11h00',
 '',
 'Morning',
 '13h30',
 'Afternoon',
 'Afternoon',
 'Midnight',
 '',
 '19h00',
 '16h00',
 '15h00',
 '',
 '12h30',
 '13h20',
 'Lateafternoon',
 '',
 '',
 '14h00',
 '11h30',
 '09h3010h00',
 '',
 'Morning',
 '',
 'Afternoon',
 '11h30',
 'Morning',
 '',
 'Morning',
 '07h00',
 '',
 '',
 '10h30',
 '',
 'Morning',
 '10h15',
 'Afternoon',
 '11h00',
 '',
 '18h15',
 '11h00',
 '11h00',
 '14h00',
 '04h00',
 '',
 '14h50',
 '15h00',
 '14h30',
 '13h50',
 '',
 '19h20',
 '11h30',
 '11h00',
 '16h20',
 '10h25',
 '',
 '16h50',
 '13h00',
 '10h00',
 '08h30',
 '16h20',
 'Afternoon',
 '10h4511h15',
 '16h45',
 '15h52',
 '12h30',
 '07h30',
 '',
 '19h00',
 '15h00',
 '06h15',
 '17h30',
 '14h40',
 '11h30',
 '16h00',
 '08h30',
 '',
 '10h25',
 '10h00',
 '19h45',
 '17h10',
 '12h30',
 '15h30',
 '07h30',
 '11h00',
 '08h00',
 '06h00',
 '',
 '',
 '19h00',
 '10h10',
 '10h00',
 '',
 '',
 '',
 '',
 '08h45',
 '',
 '',
 '',
 'Evening',
 '09h00',
 '09h00',
 '12h10',
 '',
 '18h05',
 '16h00',
 '14h40',
 '19h30',
 '16h00',
 '11h00',
 '',
 '11h41',
 '12h25',
 '09h30',
 '',
 'Morning',
 '13h00',
 '17h51',
 '16h12',
 '',
 '12h45',
 '10h50',
 '',
 '15h00',
 '15h00',
 '13h45',
 '08h00',
 '',
 '10h30',
 '14h15',
 '',
 '15h00',
 '15h00',
 '13h00',
 '09h00',
 '16h30',
 '09h45',
 '11h00',
 '',
 '09h00',
 '07h30',
 'Afternoon',
 '',
 '11h00',
 '',
 '',
 '11h45',
 '10h00',
 'Morning',
 '10h20',
 '',
 '',
 '18h30',
 '10h00',
 '06h45',
 '',
 '05h00',
 '03h30',
 '',
 'Afternoon',
 '',
 '',
 '13h45',
 '',
 'Night',
 '16h00',
 '08h00',
 'Afternoon',
 'Morning',
 'Morning',
 '',
 'Morning',
 '11h30',
 'Morning',
 '',
 '11h30',
 '07h00',
 'Sometimebetween06h0008hoo',
 '',
 '',
 '',
 '13h00',
 '13h30',
 '06h30',
 '16h30',
 '11h00',
 '18h00',
 '10h00',
 '08h00',
 '',
 '11h15',
 '06h30',
 '',
 '15h30',
 '17h20',
 '11h30',
 'Afternoon',
 '11h00',
 '14h00',
 '11h30',
 '17h30',
 '11h00',
 '11h30',
 '',
 '18h45',
 '10h45',
 '13h00',
 '18h00',
 '20h00',
 '',
 '16h40',
 '',
 '16h18',
 '',
 '',
 '',
 '15h00',
 '',
 '',
 '',
 '11h10',
 '',
 '',
 '13h30',
 'Afternoon',
 '14h00',
 '',
 '',
 '13h00',
 '14h00',
 '',
 '15h00',
 'Earlyafternoon',
 '',
 '17h50',
 '14h30',
 'Night',
 '',
 '14h00',
 '09h30',
 '07h0008h00',
 '18h1518h30',
 '',
 '13h00',
 '17h01',
 '17h00',
 '',
 '',
 '17h00',
 '09h45',
 'Afternoon',
 'Afternoon',
 '13h30',
 'Morning',
 '',
 '',
 'Morning',
 '',
 '11h30',
 '09h30',
 '11h00',
 '',
 '',
 '15h00',
 '',
 '15h00',
 '',
 '15h30',
 '09h57',
 '',
 'Morning',
 '13h50',
 '13h30',
 '08h20',
 '13h30',
 '15h00',
 '',
 '',
 '17h58',
 'Morning',
 '17h00',
 '18h00',
 '',
 '',
 '16h00',
 'Night',
 '12h00',
 '',
 '20h30',
 '',
 '',
 '',
 '',
 '',
 '11h00',
 '08h45',
 '',
 '08h00',
 '14h30',
 '18h15',
 '09h00',
 '14h00',
 '13h00',
 '09h00',
 '10h30',
 '15h00',
 '11h00',
 'Afternoon',
 '',
 '15h19',
 'Afternoon',
 '16h30',
 '10h55',
 '18h15',
 '15h55',
 '11h00',
 'Lateafternoon',
 '11h30',
 '10h30',
 '08h45',
 '15h30',
 '10h00',
 '11h30',
 '10h30',
 '13h00',
 'Morning',
 '15h30',
 '13h00',
 '',
 '16h00',
 '16h00',
 '13h00',
 '',
 '',
 '12h00',
 '',
 '23h00',
 '',
 '20h30',
 '17h00',
 '15h00',
 '13h00',
 '12h40',
 '16h30',
 '13h55',
 '17h30',
 '',
 '15h00',
 '08h45',
 '',
 '16h05',
 '11h00',
 '14h10',
 '16h45',
 '11h15',
 '13h20',
 '14h30',
 '',
 '14h15',
 '',
 '15h20',
 '',
 '',
 '',
 '',
 '15h30',
 '',
 '12h45',
 '12h50',
 '14h45',
 'Morning',
 '',
 'Afternoon',
 '',
 '16h00',
 '',
 'Afternoon',
 '',
 'Evening',
 '12h00',
 '',
 '08h20',
 '11h15',
 '',
 '13h40',
 '14h00',
 '10h30',
 '',
 '13h30',
 '',
 '12h00',
 '',
 '',
 '08h30',
 '',
 '',
 '',
 '',
 '09h00',
 '',
 '09h00',
 '09h00',
 '',
 '',
 '13h24',
 '18h00',
 '18h00',
 '14h00',
 '09h0009h30',
 '',
 '',
 '',
 '',
 '16h30',
 '',
 '10h00',
 '14h00',
 '12h45',
 '10h45',
 '',
 '0830',
 '13h20',
 '16h45',
 '',
 '09h40',
 '14h50',
 '11h40',
 '17h30',
 '08h30',
 '08h10',
 '12h00',
 '15h56',
 '11h00',
 '',
 '10h30',
 '07h30',
 '17h00',
 '',
 '18h30',
 '12h00',
 '16h30',
 'Afternoon',
 '15h00',
 '',
 '14h20',
 '12h00',
 'Afternoon',
 'Justbeforenoon',
 '11h30',
 '07h56',
 '18h30',
 '12h00',
 '16h30',
 '',
 '15h30',
 'Afternoon',
 '',
 '12h00',
 '1600',
 '17h17',
 '',
 '06h45',
 '14h40',
 '16h35',
 '15h30',
 '11h45',
 '16h30',
 '',
 '',
 '09h05',
 '17h30',
 '',
 '15h00',
 '08h30',
 '16h30',
 '',
 '19h00',
 '15h00',
 '09h45',
 '',
 '16h30',
 '07h15',
 '',
 '11h00',
 '14h20',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 '13h20',
 'Morning',
 'Morning',
 '14h30',
 '',
 '19h45',
 '13h30',
 '09h00',
 '15h00',
 'Morning',
 '',
 '14h30',
 '11h30',
 '07h20',
 '19h28',
 '12h30',
 '',
 '12h38',
 '',
 '09h30',
 '14h00',
 '05h50',
 '17h00',
 '15h50',
 '16h00',
 '16h05',
 '19h00',
 '11h30',
 '14h30',
 '13h00',
 '',
 '',
 '14h00',
 '16h00',
 '',
 '12h00',
 '11h05',
 'Afternoon',
 '',
 '',
 '16h45',
 '15h40',
 '',
 '20h00',
 '09h00',
 '18h00',
 'Earlymorning',
 '18h00',
 '12h30',
 '',
 'Dawn',
 '05h45',
 '',
 '',
 '09h00',
 '',
 '06h00',
 '13h30',
 'Afternoon',
 '',
 '',
 '',
 'Morning',
 '',
 '',
 '',
 '13h25',
 '',
 '16h00',
 '',
 '',
 '08h10',
 '10h30',
 'Afternoon',
 '',
 '09h50',
 '',
 '12h25',
 '15h00',
 '10h00',
 '15h00',
 '15h30',
 '',
 '11h00',
 '12h20',
 'Afternoon',
 '13h00',
 '13h26',
 '11h00',
 '11h00',
 '19h30',
 '19h00',
 'Morning',
 '',
 '15h30',
 '09h11',
 '',
 '17h00',
 '16h00',
 'Evening',
 '15h30',
 'Night',
 '16h30',
 '',
 '14h00',
 '15h30',
 '',
 '',
 'Night',
 '10h00',
 '17h30',
 '17h00',
 '20h30',
 '12h30',
 '17h00',
 '',
 '14h50',
 '10h30',
 '13h30',
 '10h00',
 '12h00',
 'Afternoon',
 '13h30',
 'Afternoon',
 '',
 '12h15',
 '17h30',
 '',
 '14h30',
 '',
 '',
 '12h00',
 '',
 '15h00',
 '',
 '13h15',
 '12h00',
 'Midday',
 '15h30',
 '11h00',
 '06h30',
 '',
 '',
 '',
 '',
 '15h00',
 '15h30',
 'Afternoon',
 'Morning',
 'Afternoon',
 '',
 '',
 '17h45',
 '',
 '16h00',
 '13h00',
 '',
 '',
 '10h45',
 'Earlyafternoon',
 '18h30',
 '18h20',
 '10h40',
 'Lateafternoon',
 '',
 '',
 '12h00',
 '',
 '15h00',
 '17h00',
 '12h30',
 '',
 '12h00',
 '15h35',
 'AM',
 '13h51',
 '12h00',
 '',
 '11h00',
 '10h55',
 '14h55',
 '14h40',
 'Morning',
 '',
 '13h30',
 'Morning',
 '',
 'Night',
 '12h30',
 '',
 '15h20',
 '',
 'Afternoon',
 '',
 '08h50',
 'AM',
 '13h30',
 '',
 '15h00',
 '14h30',
 '16h00',
 '16h30',
 '',
 '17h00',
 '',
 '12h00',
 '',
 '12h00',
 '09h00',
 '',
 '',
 '09h00',
 '08h05',
 '',
 '19h00',
 'Lateafternoon',
 '08h00',
 '15h00',
 '',
 ...]

In [259]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,1,25-Jun-2018,2018.0,Unprovoked,usa,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0
1,2,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,0,0
2,3,09-Jun-2018,2018.0,Invalid,usa,Hawaii,"Habush, Oahu",surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0
3,4,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,Arrawarra Headland,surfing,unknown name,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0
4,5,04-Jun-2018,2018.0,Provoked,mexico,Colima,La Ticla,free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0

## **CONCLUSION** ##

In [292]:
# Hemos llevado a cabo los siguientes procedimientos:

# Elimar las filas que no contenían información relevante para el estudio.
# Reemplazar los valores faltantes con información estimada.
# Eliminar registros duplicados.
# Verificar los tipos de datos de cada columna y corregir aquellos que no correspondían.
# Suprimir los caracteres especiales y normalizar los valores de las columnas.
# Realizar cambios de tipos de datos.
# Cambiar los nombres de algunas columnas para facilitar su comprensión.
# Convertir algunas columnas irrelevantes o incompletas en 0.
# Sustituir ciertos valores nulos por elementos comunes según la probabilidad.

In [293]:
# Ahora exportamos a CSV , e incluimos index = False , para que no se escriba la columna del índice.

df.to_csv('your_code_final.csv', index=False)